/* calendar */
.fc-event {
  border: none;
  background-color: #9ECAE0;
  min-height: 20px;
}

.activity-details {
  display: block;
  position: absolute;
  top: -29px;
  left: 0px;
  z-index: 30;
  overflow: hidden;
  margin: 3px;
  max-width: 400px;
  width: e('calc(100% - 24px - 15px)');
  border: none;
  background: white;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
}

.activity-content {
  padding: 16px 12px;
}

.activity-body {
  padding: 0 9px;
  color: #6A7177;
}

.activity-body .attendee-wrapper {
  display: inline-block;
  width: 100%;
}

.activity-body .attendee-container {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  display: table;
  .attendee-image {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 40px;
    img {
      width: 40px;
      height: 40px;
      border: 2px solid #e8e8e8;
      border-radius: 100%;
    }
  }
  .attendee-descr {
    display: table-cell;
    vertical-align: middle;
  }
}

.activity-body .attendies-float {
  clear: both;
}

.activity-details .bootstrap-tagsinput {
  border-radius: 0;
  width: 100%;
  box-shadow: none;
}

.upper-case {
  text-transform: uppercase;
}

.attendees-label {
  white-space: pre-wrap;
  overflow: hidden;
  height: 40px;
  position: relative;
  line-height: 1.5em;
  padding-right: 25px;

  [data-role="remove"] {
    top: 3px;
    position: absolute;
    right: 5px;
  }
}

.bootstrap-tagsinput {
  .typeahead.dropdown-menu {
    left: 7px !important;
    width: 96%;
    overflow: hidden;
    text-overflow: clip;
  }
}

.single-addon {
  padding: 6px 12px;
  float: right;
  margin: 0 1px 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 0 !important;
  border: 1px solid #cccccc;
  width: 39px;
}

.mr-col-fix {
  margin: 3px 0 2px 0;
}