/* main styles for containers */
.phone-widget-container {
  position: fixed;
  right: -270px;
  top: 48px;
  height: 50px;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  &:before {
    background: white;
    width: 120%;
    margin-left: -12px;
  }

  .widget-btn-container {
    float: left;
  }

  &.open {
    -webkit-transform: translate3d(-273px,0,0);
    -moz-transform: translate3d(-273px,0,0);
    -ms-transform: translate3d(-273px,0,0);
    -o-transform: translate3d(-273px,0,0);
    transform: translate3d(-273px,0,0);
  }

  .active-call-toolbar {
    position: absolute;
    top: 41px;
    left: -1px;
    display: none;

    .btn {
      padding-top: 7px;
      padding-bottom: 7px;

      &:not(.last-child) {
        margin-bottom: 2px;
      }
    }
  }

  .btn-keypad-backspace {
    padding: 1px 8px;
    border-radius: 5px;
  }

  .phone-input-row {
    margin-right: 0px;
    margin-left: 0px;

    .action-buttons {
      position: absolute;
      right: 9px;
      top: 44px;

      a {
        margin: 0 4px;
        padding: 0 4px;
      }
    }
  }
}

.btn.phone-widget-btn {
  float: left;
  display: inline-block;
  padding: 6px 5px 4px 6px !important;
  width: 34px !important;
  text-align: center;
  border-radius: 6px 0 0 6px !important;
  opacity: 0.55;
  filter: alpha(opacity=55);
  vertical-align: top;
  margin: 0;
  z-index: 999;

  &:hover,
  &.open {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

/* container when open */
.phone-widget-content {
  float: left;
  min-height: 296px;
  width: 270px;
  padding: 2px;
  background-color: #FFF;
  border: 2px solid #ffb34b;

  .call-content {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .icon-spinner.as-placeholder {
    margin-top: 45%;
    margin-left: 45%;
  }

  .phone-widget-screen {
    padding: 2px 1px 1px 1px;
  }

  .full-screen-content-dark {
    position: absolute;
    top: -2px;
    left: -2px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 200;
    width: 266px;
    height: 292px;
    color: white;

    .profile-picture {
      width: 70px;
      height: 70px;
      border: 1px solid #fff;
      border-radius: 100%;

      img {
        display: inline-block;

        margin-top: -5px;
        margin-left: -5px;

        position: relative;
        width: 70px;
        height: 70px;
        border: 2px solid #e8e8e8;
        border-radius: 100%;
      }
    }
  }
}

/* main widget tabs */
.call-widget-btn-group .phone-tab-btn {
  padding: 7px 5px;
  font-size: 12px;
  text-transform: lowercase;
  width: 86px;

  &:not(:first-child) {
    margin:0 1px !important;
  }
  &:last-child {
    width:85px;
  }

  &.active {
    background-color: #f9cf4f !important;
    border-color: #F5C227;
  }
  &.active:after {
    border-color: #F7C01B;
  }
}

.call-widget-btn-group .phone-tab-btn.btn-icon-only {
  padding: 7px 12px;
}

.phone-widget-lists-tab {
  padding: 10px;
  text-align: center;
}

/* dialpad specific */
.phone-dialpad-row {
  margin-bottom: 1px;

  > .btn-group {
    width: 100%;

    > .btn {
      width: 32.899999999%;
      height: 42px;
    }
  }
}

.dialpad-input {
  margin-bottom: 3px;
  margin-top: 1px;
  width: 99.5%;
  text-align: center;
}

/* call buttons */
.calling-button-row {
  > .btn {
    width: 49%;
    margin-top: 2px;
    height: 42px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 5px;
  }
}

/* active call general */
.active-call-list-header {
  color: #777;
  text-transform: uppercase;
  font-size: 11px;
  padding-top: 4px;
}

/* active call toolbar */
.active-call-toolbar {

  > .btn-group {
    width: 100%;

    > .btn {
      width: 13.89999%;
    }
  }
}

/* active call list */
.active-call-list {

  width: 68px;
  float: left;

  .list-item {
    float: left;
    margin: 0 2px 4px 0;
    padding: 5px;
    min-height: 50px;
    width: 60px;
    border: none;
    text-align: center;
    cursor: pointer;

    .image {
      width: 42px;
      position: relative;

      img {
        position: relative;
        width: 40px;
        height: 40px;
        border: 2px solid #e8e8e8;
        border-radius: 100%;
      }

      i {
        position: absolute;
        bottom: 3px;
        right: 0px;
      }
    }

    .body {
      font-size: 11px;
      color: #777;
    }
  }
}

.active-call-content {

  .call-duration {
    color: #6ca920;
  }

  .contact-image {
    position: relative;
    width: 140px;
    height: 140px;
    border: 2px solid #e8e8e8;
    border-radius: 100%;
  }

  .localVideo {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1001;

    width: 80px;
    height: 60px;

    background-color: #000000;
  }

  .remoteVideo {
    position: absolute;
    top: 55px;
    z-index: 1000;

    width: 186px;
    height: 139px;

    cursor: pointer;

    background-color: #000000;
  }
}

.btn-answer-call i {
  margin-right: 0;
}

.btn.btn-answer-call i, .btn.btn-video-answer-call i {
  margin-right: 0;
}
/*
#plug-in-container.disabled {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
*/

#current-calls-container {
  display: none;
}

.no-active-calls .title {
  padding-top: 100px;
}



