.chat-sliding-container {
  z-index: -1;
}

.unReadChatNumber {
  top: 0 !important;
}

.image-center {
  margin: 0 auto;
}

.chat-layout {
  .widget-box { border: 1px solid #e5e5e5; }
  .widget-header { border: none; border-bottom: 1px solid #e5e5e5; background: #EDF3F4; }
  .widget-body { border: none; }
  .has-error .bootstrap-tagsinput { border-color: #d16e6c; }
}

.slimscroll-ctlchat {
  min-height: 380px;
}

.noconversation{
  position: absolute;
  top:165px;

}

.chat-message-status {
  background: #CCFFCC;
  padding-left: 12px;
}

.watermark {
  position:relative;
}

.watermark::before {
  position:fixed;
  font-family: FontAwesome;
  top:165px;
  left:40%;
  content: "\f086";
  font-size: 15em;
  opacity:0.1;
}

.chat-list-scroll .list-item .body {
  width: e('calc(100% - 105px)');
}

.jiggle {
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}



@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.chat-row-notification {
  color: #444;
  font-size: 13px;
  margin: 3px 0 0 8px;

  .icon-remove {
    margin-left: 10px;
    cursor: pointer;
  }
}

.close-chat{
  position: absolute;
  right:0;
  margin:8px;
}

#chat-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  top:39px;

  .text{
    overflow: hidden;
  }
}

#chat-box{
  position: fixed;
  top: 90px;
  left:10px;
  right:10px;
  bottom:5px;

  .dialogs{
    position: absolute;
    width: 100%;
    bottom: 93px;
    top: 0;
    overflow-y: auto;
  }
}

.chat-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  .form-actions{
    margin-top: 0;
    margin-bottom: 0;
  }
}