/* sidebar */
.sidebar { 
  display: block;
  position: absolute;
  top: 45px;
  left: 0px;
  z-index: 40; 
  overflow: hidden;
  margin: 3px;
  max-width: 400px;
  width: e('calc(100% - 40px)');
  border: none;
  background: white;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  min-height: 300px;
  max-height: 500%;
}

.off-screen { -webkit-transform: translate3d(-405px,0,0); -moz-transform: translate3d(-405px,0,0); -ms-transform: translate3d(-405px,0,0); -o-transform: translate3d(-405px,0,0); transform: translate3d(-405px,0,0); }
.sidebar.off-screen { max-height: 350px;}

.sidebar:before { content: none; }

.sidebar .widget-box { margin: 0; border-bottom: none; }

.sidebar .widget-body { border: 0; background: white; }

.sidebar .widget-header { border-top-color: #e5e5e5; border-right: none; border-left: none; background: none; }
.sidebar.display { margin: 5px; border-left: 1px solid #ddd; }

.sidebar .widget-main { padding: 0px; }

.sidebar .widget-main .tab-content { padding: 5px; }

.sidebar-detail-widget { position: absolute; top: 3px; left: -405px; z-index: 301; width: 98%; height: 98.9%; background: white; transition: all .4s ease-out; }

.sidebar-detail-widget .widget-box { padding: 0; height: 100%; overflow: hidden; }
.sidebar-detail-widget .widget-header { background: #EDF3F4; }
.sidebar-detail-widget .widget-body { height: 97%; }
.sidebar-detail-widget .widget-main { padding: 5px; }
.sidebar-detail-widget .profile-user-info { margin: 0; padding: 0; }
.sidebar-detail-widget .profile-info-name { width: 90px; font-size: 12px; }
.sidebar-detail-widget .profile-info-value { margin-left: 90px; }
.sidebar-detail-widget .profile-picture { margin: 3px; }
.cp { cursor: pointer; }
.sidebar-detail-widget .image-preview-wrapper img { width: 100%; }
.sidebar-detail-widget .canvas-wrapper canvas { width: 120px; height: 120px; visibility: hidden; }
.sidebar-detail-widget .remove-avatar { display: inline-block; left: 0; top: 0; border: 3px solid #BBB; border-radius: 32px; background-color: #FFF; color: red; width: 22px; height: 22px; line-height: 15px; position: absolute; font-size: 11px; font-weight: normal; text-decoration: none; box-sizing: border-box; }
.sidebar-detail-widget .subrow:before { display: table; content: " "; }
.sidebar-detail-widget .subrow:after { display: table; content: " "; clear: both; }
.sidebar-detail-widget .subrow { margin: 4px 0 10px 0; }
.sidebar-detail-widget .subrow select { width: 100%; }
.sidebar-detail-widget .profile-picture .editable-container.editable-inline { width: 100%;}
.sidebar-detail-widget .profile-picture .editable-input { width: 100%;}
li.dropdown-success a i { color: #629b58; }
li.dropdown-success a:hover,
li.dropdown-success a:focus,
li.dropdown-success a:active,
li.dropdown-success .active a,
li.dropdown-success .active a:hover,
li.dropdown-success .dropdown-submenu:hover > a,
.nav-tabs li.dropdown-success > a:focus { background: #87b87f; color: #ffffff; }
li.dropdown-danger a:hover,
li.dropdown-danger a:focus,
li.dropdown-danger a:active,
li.dropdown-danger .active a,
li.dropdown-danger .active a:hover,
.dropdown-danger .dropdown-submenu:hover > a,
.nav-tabs li.dropdown-danger > a:focus { background: #d15b47; color: #ffffff; }
li.dropdown-disable a { color: #a4a4a4; }
li.dropdown-disable a:hover,
li.dropdown-disable a:focus,
li.dropdown-disable a:active,
li.dropdown-disable .active a,
li.dropdown-disable .active a:hover,
.dropdown-disable .dropdown-submenu:hover > a,
.nav-tabs li.dropdown-disable > a:focus { background: #428bca; color: #a4a4a4; }

.widget-box.transparent > .widget-header { border-bottom-color: #C5D0DC; }
.widget-box-overlay.pad-overlay-top { margin-top: 30px !important; }

[class$="-list-scroll"] { padding-right: 10px; }

.scroll-viewport { overflow-y: auto; }

.sidebar .nav-tabs li a { border-radius: 5px 5px 0 0 !important; }



.sidebar-list-header { margin: 3px 0 5px -12px; }
.sidebar-list .list-item { float: left; margin: 0 2px 4px 0; padding: 5px; min-height: 50px; width: 100%; border: solid 1px #e5e5e5; border-radius: 5px; background: rgba(255, 255, 255, 0.5); }

.sidebar-list .image {
  float: left;  margin-right: 4px;  position: relative;

  .btn { border: none; border-radius: 100%; padding: 0; margin: 0; outline: 0; }
}

.image-in-list { position: relative; width: 40px; height: 40px; border: 2px solid; border-radius: 100%; }
.pres-online .image-in-list { background-color: #87b87f !important; border-color: #87b87f; }
.pres-busy .image-in-list { background-color: #d15b47 !important; border-color: #d15b47; }
.pres-offline .image-in-list { background-color: #abbac3 !important; border-color: #abbac3; }
.pres-none .image-in-list { background-color: #e8e8e8 !important; border-color: #e8e8e8; }

.sidebar-list .body {
  display: block;  float: left;  margin-bottom: 3px;  width: e('calc(100% - 88px)');

  a { padding-bottom: 5px; line-height: 1.1em; }

  .name { line-height: 1.7;}
}

.group-list-scroll .list-item .body {
  width: e('calc(100% - 100px)');
}

.sidebar-list .btn-group { float: right; margin-right: 5px; }
//.sidebar-list .btn-group .btn { border-radius: 10px !important; font-size: 11px; }

//.sidebar-list .list-item .dropdown-menu { overflow-x: hidden; min-width: 200px; max-width: 360px; }

.sidebar .nav-search {
	position: relative;
	top: 0;
	right: 0;
}

.sidebar .nav-search .nav-search-input {
	width: 280px;
	height: 29px !important;
}

.width-96-5 {
  width: 96.5%;
}

@media only screen and (max-width: 991px) {
  .breadcrumb { margin-left: 10px; }
  .menu-toggler { padding: 0 8px; width: 23px; height: 100%; background: transparent; }
  .menu-toggler > i { display: inline-block; width: 20px; color: #FFF; text-align: center; font-size: 20px; line-height: 45px; }
  .menu-toggler:before, .menu-toggler::before, .menu-toggler:after, .menu-toggler::after { content: none; }
}

.btn-actions{
  margin-top: 9px;
  margin-left: 3px;
  >.btn{
    > [class*="icon-"]{
      margin-right: 0;
      margin-left: 0;
    }
  }
  >.dropdown-menu{
    [class*="icon-"]{
      display: inline-block;
      min-width: 16px;
    }
  }
  >ul{
    width: 210px;
  }
  .submenu a .pull-right{
    margin-right:10px;
  }
}
/* disable the ugly shadow on nested dropdown toggles. eww*/
.btn-group.open ul .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

 .nav-list .open > a:hover{
   color: #1963aa;
 }
