.data-form {
  padding-top: 2px;
}

.data-form .pull-left {
  margin-left: -10px;
  margin-right: 10px;
}

.data-form .form-group {
  margin-top: 4px;
  margin-bottom: 10px;
}

.data-form .form-group.row {
  margin-left: 0px;
  margin-right: 0px;
}

.data-form .form-group label {
  font-size: 13px;
  color: #a4a4a4;
}

.data-form .form-group .help-block {
  font-size: 12px; /*color: #a4a4a4;*/
  margin-bottom: 0;
}

.data-form .form-group small {
  font-size: 10px;
  color: #a4a4a4;
  margin-left: 5px;
}

.data-form .new-child-row {
  display: none;
}

.data-form .leading-left-img {
  border-radius: 100%;
  border: solid 1px #a4a4a4;
  box-shadow: none;
}

.data-form {
  .subrow:before { display: table; content: " "; }
  .subrow:after { display: table; content: " "; clear: both; }
  .subrow { margin: 4px 0 10px 0; }
  .subrow select { width: 100%; }
}

.form-groups-header {
  color: #669fc7;
  padding: 5px;
}

.form-groups-header .form-groups-toolbar {
  float: right;
}

/*color: #8dc53e;*/

.search-form input {
  border-radius: 5px !important;
  font-size: 12px;
  line-height: 1.5em;
  padding-left: 26px;
}

.search-form i {
  position: absolute;
  left: 20px;
  top: 10px;
}

.widget-toolbar a.data-action, .widget-toolbar button.data-action, .settings-layout button.data-action, .btn-act {
  font-size: 13px;
  margin: 0 1px 0 15px;
  display: inline-block;
  padding: 0;
  line-height: 24px;
  border: none;
  background: none;
  cursor: pointer;

  &:active {
    outline: none !important;
  }
}

.box-border {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
