/* general overrides */
html {
  min-width: 320px;
  background: white;
}

body {
  background-color: white !important;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}

.body-content {
  margin-right: 25px;
}

.body-content .sliding-container {
  margin-left: -110%;
  -webkit-transition: margin-left 1s;
  -moz-transition: margin-left 1s;
  -o-transition: margin-left 1s;
  transition: margin-left 1s;
}

.body-content .sliding-container.active-container {
  margin-left: 0;
  -webkit-transition: margin-left 1s;
  -moz-transition: margin-left 1s;
  -o-transition: margin-left 1s;
  transition: margin-left 1s;
}

.main-container-inner {
  background: white;
}

.main-container .widget-box-overlay {
  background: rgba(255, 255, 255, 0.7);
}

.main-container .widget-box-overlay-secondary {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 13;
  display: none;
}

.body-content .widget-box-overlay .icon-spinner {
  margin-top: 100px;
  z-index: 1;
}

.main-content {
  margin-left: 280px;
}

/* general opt in styles */
.dashed-blue {
  color: #08c;
  border-bottom: 1px dashed #08c;
  cursor: pointer;
  font-weight: normal;
}

.dashed-blue:hover {
  text-decoration: none;
  color: #393939;
  border-bottom: 1px dashed #393939;
}

.margin-10-top {
  margin-top: 10px !important;
}

.margin-10-bottom {
  margin-bottom: 10px !important;
}

.margin-15-top {
  margin-top: 20px !important;
}

.margin-20-top {
  margin-top: 20px !important;
}

.padding-10 {
  padding: 10px;
}

.heavy-box-shadow {
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.bubble-bg {
  background-image: url(../images/bg-img.jpg);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center -3em;
}

.layout-body .widget-box-overlay {
  background: none;
}

/* nav */
.navbar {
  background: #ffb44b !important;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#88C847), to(#4e9b11)) !important;
  background-image: -webkit-linear-gradient(top, #88C847, 0%, #4e9b11, 100%) !important;
  background-image: -moz-linear-gradient(top, #88C847 0%, #4e9b11 100%) !important;
  background-image: linear-gradient(to bottom, #88C847 0%, #4e9b11 100%) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88C847', endColorstr='#4e9b11', GradientType=0) !important;
  height: 45px;
}

.ace-nav li {
  border-color: rgba(255, 255, 255, 0.3);
}

.ace-nav > li a {
  border-color: #b0b0b0;
}

.ace-nav > li a .nav-text {
  margin-right: 8px;
  font-weight: lighter;
}

@media only screen and (max-width: 650px) {
  .ace-nav > li a .nav-text {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .ace-nav > li.hide-xs {
    display: none;
  }
}

/* general opt-out styles */
.no-border-important {
  border: none !important;
}

.badge.on-right-edge {
  right: 1px !important;
}

.app-hidden {
  display: none;
}

.app-plugin-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* general radius styles for containers */
.radius-5 {
  border-radius: 5px !important;
}

.radius-5-left-only {
  border-radius: 5px 0 0 5px !important;
}

.radius-5-right-only {
  border-radius: 0 5px 5px 0 !important;
}

.radius-10 {
  border-radius: 10px !important;
}

.radius-20 {
  border-radius: 20px !important;
}

.radius-30 {
  border-radius: 30px !important;
}

.radius-50 {
  border-radius: 50px !important;
}

.push-left {
  margin-left: 5px;
}

.push-right {
  margin-right: 5px;
}

.bg-white {
  background: #ffffff;
}

.bg-limegreen {
  background-color: #8dc53e;
}

.page-links {
  float: left;
  margin: 10px;
}

.page-links a {
  padding: 10px;
}

i.padded-3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

/* navigation */
.header-nav {
  margin: 7px 60px 0 0;
}

.header-nav a {
  padding: 2px 5px;
}

/* column overrides from bootstrap.css */
.col-xs-1.less-padding,
.col-xs-2.less-padding,
.col-xs-3.less-padding,
.col-xs-4.less-padding,
.col-xs-5.less-padding,
.col-xs-6.less-padding,
.col-xs-7.less-padding,
.col-xs-8.less-padding,
.col-xs-9.less-padding,
.col-xs-10.less-padding,
.col-xs-11.less-padding,
.col-xs-12.less-padding,
.col-sm-1.less-padding,
.col-sm-2.less-padding,
.col-sm-3.less-padding,
.col-sm-4.less-padding,
.col-sm-5.less-padding,
.col-sm-6.less-padding,
.col-sm-7.less-padding,
.col-sm-8.less-padding,
.col-sm-9.less-padding,
.col-sm-10.less-padding,
.col-sm-11.less-padding,
.col-sm-12.less-padding,
.col-md-1.less-padding,
.col-md-2.less-padding,
.col-md-3.less-padding,
.col-md-4.less-padding,
.col-md-5.less-padding,
.col-md-6.less-padding,
.col-md-7.less-padding,
.col-md-8.less-padding,
.col-md-9.less-padding,
.col-md-10.less-padding,
.col-md-11.less-padding,
.col-md-12.less-padding,
.col-lg-1.less-padding,
.col-lg-2.less-padding,
.col-lg-3.less-padding,
.col-lg-4.less-padding,
.col-lg-5.less-padding,
.col-lg-6.less-padding,
.col-lg-7.less-padding,
.col-lg-8.less-padding,
.col-lg-9.less-padding,
.col-lg-10.less-padding,
.col-lg-11.less-padding,
.col-lg-12 {
  padding-right: 7px;
  padding-left: 7px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

#login-container {
  display: none;
  height: 100%;
  position: absolute;
  top: 0px;
  padding-top: 85px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
}

.login-layout .widget-box {
  padding: 1px;
  background: #ccc;
}

.user-info {
  max-width: 100px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  line-height: 15px;
  position: relative;
  top: 6px;
}

.user-info small {
  display: block;
}

@media (max-width: 650px) {
  .user-menu {
    padding-top: 42px !important;
  }

  .ace-nav .nav-user-photo {
    margin-right: 0;
  }

  .user-info {
    position: absolute !important;
    margin-top: 40px;
    margin-left: 1px;
    right: 2px;
    z-index: 1032;
    color: #777;
    font-size: 14px;
    width: 156px;
    max-width: 156px;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    line-height: 26px !important;
    display: none;
    border-bottom: 1px solid #E5E5E5;
    text-align: center;
    vertical-align: none;
    line-height: normal;
  }

  .user-info > small {
    display: inline;
    opacity: 1;
  }

  li.open .user-info {
    display: inline-block;
  }
}

.user-menu > li a {
  padding: 8px 12px;
}

.user-menu > li:last-child a {
  padding-bottom: 4px;
}

.user-menu > li.show-xs {
  display: none;
}

@media (max-width: 400px) {
  .user-menu > li.show-xs {
    display: block;
  }
}

.page-header {
  margin: 0;
  padding: 0;
  border: none;
}

.page-header h1 {
  padding: 0;
  margin: 5px 0 0 10px;
  font-size: 21px;
  font-weight: normal;
  color: #669fc7;
}

.widget-box-overlay > .correct-spinner {
  width: 60px;
  left: 46.5%;
}

@media only screen and (max-width: 340px) {
  .hidden-340 {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .hidden-400 {
    display: none !important;
  }
}

/* bootstrap additional fix */
.navbar-brand {
  color: #ffffff;
  font-size: 24px;
  text-shadow: none;
  padding: 5px;
}

#fcsPlugin {
  position: fixed;
  left: -100%;
  top: -100%;
}