#wrap {
  overflow:hidden;
  padding:3%;
}

#pbOverlay.show ~ #wrap {
  -webkit-filter:blur(2px) grayscale(.4);
}

.memory-layout {
  .widget-box { border: 1px solid #e5e5e5; }
  .widget-body { border: none; min-height: 400px; }
  .margin-all, .btn-group > .btn {
    margin: 5px 5px;
  }
}

#memories-gallery {
  li {
    list-style:none;
    perspective:100px;
    -webkit-perspective:100px;
    margin:5px;
    float:left;
    position:relative;
    transition:.1s;
    -webkit-transition:0.1s;

    &.video::before {
      content:'\25BA';
      color:#FFF;
      font-size:20px;
      height:20px;
      width:20px;
      line-height:0.9;
      position:absolute;
      bottom:3px;
      left:4px;
      z-index:1;
      background:rgba(0,0,0,0.4);
      box-shadow:0 0 0 3px rgba(0,0,0,0.4);
      border-radius:0 3px 0 0;
      pointer-events:none;
      opacity:0;
      transition:.5s 0.2s;
    }

    &.loaded.video::before {
      opacity:1;
    }

    .check-container {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: #ffffff;
      height: 26px;
      width: 26px;
      border-radius: 8px;
      display: none;

      i {
        margin-top: -2px;
        color: #88c847;
      }

    }
  }

  a {
    display:block;
    width:150px;
    height:136px;
    vertical-align:bottom;
    overflow:hidden;
    background:rgba(0,0,0,0.1);
    transition:.4s ease-out;
    -webkit-transition:0.4s ease-out;
    -webkit-transform:rotateX(90deg) translate(-50px,-50%);
    transform:rotateX(90deg) translate(-50px,-50%);

    &:active,
    &:focus {
      outline:none;
    }

    img {
      transition:.3s ease-out;
      -webkit-transition:0.3s ease-out;
      width:150px;
      height:136px;
    }
  }

  &.edit {

    li .check-container {
      display: block;
    }
  }
}

#memories-gallery .loaded a {
  -webkit-transform:rotateX(0deg) translate(0,0);
  transform:rotateX(0deg) translate(0,0);
  border: 3px solid whitesmoke;
}

#memories-gallery li.loaded:hover {
  z-index:2;
  transform:scale(1.5);
  -webkit-transform:scale(1.5);
}

#memories-gallery li.loaded a:hover {
  box-shadow:0 0 0 0px #FFF, 0 0 20px 5px #000;
  transition:.1s;
  -webkit-transition:0.1s;
}

#memories-gallery li.loaded:hover img {
  transform:scale(1.2);
  -webkit-transform:scale(1.2);
}

#memories-gallery li.loaded.video:hover::before {
  opacity:0;
}

/*------- media queries -----------*/
@media all and (max-width:700px){
  #memories-gallery li{ margin:0; }
  #memories-gallery a{ width:55px; height:50px; }
  #memories-gallery li.loaded:hover img, #memories-gallery li.loaded:hover{ transform:none; -webkit-transform:none; }
}

// ******* photobox gallery fixes ********
#pbCloseBtn:before, #pbCloseBtn:after {
  -webkit-box-sizing: content-box;
}

.pbProgress:before, .pbProgress:after {
  -webkit-box-sizing: content-box;
}

#pbAutoplayBtn:before, #pbAutoplayBtn:after {
  -webkit-box-sizing: content-box;
}

#memory-upload-form .image-preview-container {
  text-align: center;
}

.btn-upload-memory.disabled {
  pointer-events: none;
  cursor: default;
}

.btn-delete-memory {
  display: none;
}

#memory-upload-form img {
  max-height: 300px;
  max-width: 300px;

  //border: solid 1px #0B6CBC;
}

.checked a {
  border: 3px solid red !important;
}

.memory-upload-container {
  top: -38px;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .memory-upload-container {
    top: -45px;
  }

}
