.inbox-tabs.nav-tabs > li > a {
  text-align: center;
  min-width: 65px;
  padding: 1.2em 0.7em 0.4em 0.7em;
  background-color: #FAFAFA;
  font-size:13px;

  .badge {
    padding: 0 4px;
    line-height: 15px;
    opacity: 0.7;
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

@media only screen and (max-width: 480px) {
  .inbox-tabs.nav-tabs > li > a {
    min-width: 30px;
  }

  .message-detail-container .message-header-inner {
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.message-navbar {
  .badge {
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

@media only screen and (max-width: 400px) {
  .inbox-tabs.nav-tabs > li > a {
    padding: 1.2em 0.5em 0.4em 0.5em;
  }
}

.inbox-tabs.nav-tabs > li.active > a .badge {
  background-color: #4e9b11 !important;
}

.inbox-tabs.nav-tabs > li.dropdown {
  margin-bottom: -3px;
}

.inbox-tabs.nav-tabs > li.active:not(.open) > a,
.inbox-tabs.nav-tabs > li.active:not(.open) > a:hover,
.inbox-tabs.nav-tabs > li.active:not(.open) > a:focus {
  background-color: #F1F5FA;
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.1);
  color: #4e9b11;
}

.message-bar {
  display: block;
  min-height: 30px;
}

.message-list-icon {
  vertical-align: middle;
  margin: 2px 4px 0 6px;
  font-size: 15px;
}

.message-detail-container {
  position: absolute;
  max-width: 400px;
  top: -26px;
  left: 0;
  margin-left: 3px;
  z-index: 13;
  width: e('calc(100% - 24px - 15px)');
  background: white;

  .widget-box {
    margin-bottom: 0;
  }

  .message-detail {
    word-break: break-all;
  }
}

.message-edit-container {
  position: absolute;
  max-width: 400px;
  top: -26px;
  left: 0;
  margin-left: 3px;
  z-index: 14;
  width: e('calc(100% - 24px - 15px)');
  background: white;

  .bootstrap-tagsinput {
    width: 100%;
    margin-bottom: 0;
    input::-ms-clear {
      width : 0;
      height: 0;
    }
  }

  .widget-box {
    margin-bottom: 0;
  }

  .form-group .edit-label {
    position: absolute;
    top: 3px;
    right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .message-edit-container, .message-detail-container {
    top: -33px;
  }
}

.message-detail .vjs-default-skin .vjs-big-play-button {
  left: 3em;
  top: 1.2em;
}

.message-detail .vjs-audio {
  background-color: #478fca;
  background-image: url('../images/voicemail_poster.jpg');
  background-size: cover;
}

.on-tr {
  -o-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.off-tr {
  -o-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -webkit-transition: none;
  transition: none;
}

.off-scr {
  -webkit-transform: translate3d(-150%, 0, 0);
  -moz-transform: translate3d(-150%, 0, 0);
  -ms-transform: translate3d(-150%, 0, 0);
  -o-transform: translate3d(-150%, 0, 0);
  transform: translate3d(-150%, 0, 0);
}

.on-scr {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.inbox-tabs .dropdown-filter .filter-all { border: 1px solid; border-color: #D6E1EA transparent; background-color: #F1F5FA; }

.message-text {
  background-color: #F7F8FA;
  border-collapse: separate;
  border: 1px solid #BBC0CA;
  padding: 4px;
  width: 100%;
  height: 4em;
}

.message-item.li-filtered {
  display: none;
}

.message-layout {
  .widget-box { border: 1px solid #e5e5e5; }
  .widget-header { border: none; border-bottom: 1px solid #e5e5e5; background: #EDF3F4; }
  .widget-body { border: none; }
  .has-error .bootstrap-tagsinput { border-color: #d16e6c; }
}

.message-detail-text {
  position: relative;
  top: 1em;
  padding: 0.5em;
  border: 1px solid #BBC0CA;
  background-color: #F7F8FA;
}

/* ACE original styles below here
  TODO: clean this up to only what we need
*/

.inbox-tabs.nav-tabs > li > a.btn-new-mail {
  background-color: transparent;
  border: none !important;
  padding: 0 !important;
}

.inbox-tabs.nav-tabs > li > a.btn-new-mail > .btn {
  border-width: 0 !important;
  border-radius: 3px !important;
  padding: 0 6px !important;
  position: relative;
  transition: none !important;
}

.inbox-tabs.nav-tabs > li.active > a.btn-new-mail {
  box-shadow: none !important;
}

.inbox-tabs.nav-tabs > li.active > a.btn-new-mail > .btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 35%;
  left: calc(50% - 6px);
  border-width: 6px 8px;
  border-style: solid;
  border-color: transparent;
  border-top-color: inherit;
}


@media only screen and (max-width: 475px) {
  .inbox-tabs > .li-new-mail {
    display: block;
    text-align: right;
    margin-bottom: 8px !important;
    float: none !important;
  }

  .inbox-tabs > .li-new-mail > .btn-new-mail {
    display: inline-block;
    width: auto;
  }

  .inbox-tabs .btn-new-mail .no-text-shadow {
    display: none;
  }
}

.message-container {
  position: relative;
}

.message-list {
  position: relative;
}

.message-item {
  border: 1px solid #EAEDF1;
  border-bottom-width: 0;
  padding: 12px 12px 14px;
  line-height: 18px;
  position: relative;
  background-color: #FFF;
  
  .summary {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin-left: 30px;
    max-width: e('calc(100% - 300px)');
    white-space: nowrap;

    .message-flags {
      display: block;
      position: absolute;
      right: 101%;
      right: calc(100% + 4px);
      height: 18px;
      white-space: nowrap;
    }

    .text {
      color: #555;
      vertical-align: middle;
      display: inline-block;
      width: auto;
      max-width: 100%;
      height: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  .sender {
    margin: 0 6px 0 4px;
    vertical-align: middle;
    color: #467287;
    display: inline-block;
    width: 110px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
  }

  .time {
    float: right;
    width: 150px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #666;
  }

  &:first-child {
    border-top-width: 0;
  }

  &:hover {
    border-color: #E2EAF2;
    background-color: #F2F6F9;
  }

  .attachment {
    color: #999;
    font-size: 18px;
    vertical-align: middle;
    float: right;
    margin: 0 12px;
    position: relative;
  }

  &.message-unread {

    .summary .text {
      font-weight: bold;
    }

    .time {
      font-weight: bold;
    }

    .sender {
      font-weight: bold;
    }
  }

  &.selected {
    background-color: #EFF4F7;
    border-color: #FFF #E2EAF2;
  }
}

.message-item:hover + .message-item {
  border-top-color: #E2EAF2;

  &.selected {
    border-top-color: #FFF;
  }
}

.message-item.selected + .message-item {
  border-top-color: #FFF;
  
  &:hover + .message-item {
    border-top-color: #FFF;
  }
}

@media only screen and (min-width: 900px) {
  .message-item .sender {
    width: 250px;
  }
}

.message-star {
  vertical-align: middle;
  margin: 2px 4px 0 6px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    color: #feb902 !important;
    text-decoration: none;
  }
}

.mail-tag:empty {
  display: inline-block;
  width: 8px;
  height: 11px;
  padding: 0;
  line-height: normal;
  vertical-align: middle;
  margin: 0 1px 0 0;
}

.badge.mail-tag {
  border-radius: 2px;
}

@media only screen and (max-width: 550px) {
  .message-item {
    
    .sender {
      width: auto;
      max-width: 125px;
    }
    
    .summary {
      margin: 8px 0 0 32px;
      max-width: 95%;
      min-width: 0;
      display: block;
      clear: both;

      .text {
        max-width: 95%;
      }
    }
  }
}

.btn-message,
.btn-message:hover,
.btn-message:focus,
.btn-message:active,
.open .btn-message.dropdown-toggle {
  background-color: #FFF !important;
  border: 1px solid #94B9CE !important;
  color: #7CA3BA !important;
  text-shadow: none !important;
}

.message-content {
  padding: 16px 12px;
  border: 1px solid #E9E9E9;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02);
  background-color: rgba(255, 255, 255, 0.8);
  border-top-width: 0;
}

.message-item .message-content {
  margin-top: 16px;
  border-top-width: 1px;
}

.message-body {
  padding: 0 9px;
  color: #6A7177;
}

.message-navbar {
  line-height: 24px;
  padding: 10px 12px;
  border: 1px solid #D6E1EA;
  background-color: #F1F5FA;
  position: relative;
  height: 50px;
}

.message-navbar .dropdown-toggle,
.message-content .dropdown-toggle {
  color: #777;
}

.message-navbar .dropdown-toggle:hover,
.message-content .dropdown-toggle:hover,
.message-navbar .dropdown-toggle:focus,
.message-content .dropdown-toggle:focus {
  text-decoration: none;
  color: #2283C5;
}

.message-bar {
  display: inline-block;
  min-height: 28px;
}

.message-footer {
  background-color: #F1F1F1;
  padding: 12px 16px;
  border: 1px solid #E6E6E6;
  border-width: 1px 0;
  border-top: 1px solid #E4E9EE;
}

.message-footer .pagination {
  margin: 0;
}

.message-footer .pagination > li {
  margin: 0;
  padding: 0;
}

.message-footer .pagination > li > a,
.message-footer .pagination > li > span {
  color: #777;
  padding: 3px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: transparent;
  border: none;
}

.message-footer .pagination > li.disabled > span {
  color: #BBBBBB;
  cursor: default;
}

.message-footer .pagination > li > a:hover {
  color: #2283C5;
  text-decoration: none;
}

.message-footer input[type=text] {
  font-size: 12px;
  width: 34px;
  height: 24px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 3px;
  vertical-align: middle;
  text-align: center;
}

.message-footer-style2 .pagination > li > a,
.message-footer-style2 .pagination > li > span {
  border: 1px solid #B5B5B5;
  border-radius: 100% !important;
  width: 26px;
  height: 26px;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  padding: 0;
}

.message-footer-style2 .pagination > li > span {
  border-color: #CCC;
}

.message-footer-style2 .pagination > li > a:hover {
  border-color: #84AFC9;
  background-color: #F7F7F7;
}

.message-item.message-inline-open {
  background-color: #F2F6F9;
  border: 1px solid #DDD;
  border-bottom-color: #CCC;
}

.message-item.message-inline-open:first-child {
  border-top-color: #EEE;
}

.message-item.message-inline-open:last-child {
  border-bottom-color: #DDD;
}

.message-item.message-inline-open + .message-item {
  border-bottom-color: transparent;
}

.message-loading-overlay {
  position: absolute;
  z-index: 15;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.message-loading-overlay > [class*="icon-"] {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  text-align: center;
}

ul.attachment-list {
  margin: 6px 0 4px 8px;
}

ul.attachment-list > li {
  margin-bottom: 3px;
}

.message-attachment {
  padding-left: 10px;
  padding-right: 10px;
}

.attached-file {
  color: #777;
  width: 200px;
}

.attached-file > [class*="icon-"] {
  display: inline-block;
  width: 16px;
  margin-right: 2px;
}

.attached-file:hover {
  text-decoration: none;
  color: #438EB9;
}

.attached-file:hover .attached-name {
  color: #2283C5;
}

.attached-file .attached-name {
  display: inline-block;
  max-width: 175px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.messagebar-item-left {
  text-align: left;
  position: absolute;
  bottom: 15px;
  left: 12px;
  right: auto;
  color: #669fc7;
}

.messagebar-item-left h5 {
  font-size: 15px;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.messagebar-item-right {
  text-align: left;
  position: absolute;
  /*bottom: 7px;*/
  right: 12px;
  left: auto;
}

.message-navbar .nav-search {
  right: auto;
  left: 60px;
  top: auto;
  bottom: 11px;
}

.message-navbar .nav-search .badge {
  position: relative;
  float: left;
  top: 5px;
  left: 5px;
  display: block;
}

.message-navbar .nav-search .form-search {
  float: left;
  display: block;
}

.message-form {
  padding-top: 22px;
  background-color: #ffffff;
}

@media only screen and (max-width: 480px) {
  .message-form {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.message-form .form-actions {
  margin-bottom: 0;
}

.message-form .wysiwyg-editor {
  overflow: auto;
  min-height: 150px;
  max-height: 250px;
  height: auto;
}

.btn-back-message-list {
  color: #777;
}

.btn-back-message-list:hover {
  color: #478FCA;
  text-decoration: none;
}

.message-condensed .message-item {
  padding-top: 8px;
  padding-bottom: 9px;
}

.message-condensed .message-navbar,
.message-condensed .message-footer {
  padding-top: 7px;
  padding-bottom: 7px;
}

.message-condensed .messagebar-item-left,
.message-condensed .messagebar-item-right {
  bottom: 9px;
}

.message-condensed .message-navbar .nav-search {
  bottom: 7px;
}

@media only screen and (max-width: 480px) {
  .message-condensed .message-bar {
    min-height: 42px;
  }
}

.inbox-folders .btn-block {
  margin-top: 0;
}

@media only screen and (max-width: 767px) {
  .inbox-folders.inbox-folders-responsive .btn-block {
    width: 24%;
  }
}

@media only screen and (max-width: 600px) {
  .inbox-folders.inbox-folders-responsive .btn-block {
    width: 48%;
  }
}

@media only screen and (max-width: 320px) {
  .inbox-folders.inbox-folders-responsive .btn-block {
    width: 99%;
  }
}

.inbox-folders .btn-lighter,
.inbox-folders .btn-lighter.active {
  background-color: #F4F4F4 !important;
  text-shadow: none !important;
  color: #7C8395 !important;
  border: 1px solid #FFF !important;
  padding: 5px 11px;
}

.inbox-folders .btn-lighter.active {
  background-color: #EDF2F8 !important;
  color: #53617C !important;
}

.inbox-folders .btn-lighter:hover {
  background-color: #EFEFEF !important;
  color: #6092C4 !important;
}

.inbox-folders .btn > [class*="icon-"]:first-child {
  display: inline-block;
  width: 14px;
  text-align: left;
}

.inbox-folders .btn-lighter + .btn-lighter {
  border-top-width: 0 !important;
}

.inbox-folders .btn.active:before {
  display: block;
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  border-left: 3px solid #4F99C6;
}

.inbox-folders .btn.active:after {
  display: none;
}

.inbox-folders .btn .counter {
  border-radius: 3px;
  position: absolute;
  right: 8px;
  top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.inbox-folders .btn:hover .badge {
  opacity: 1;
  filter: alpha(opacity=100);
}

.attachment-label {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: right;
}

.btn-red {
  border-color: #ff0000 ;
  background-color : #ff0000 !important;
}

.btn-red:hover {
  border-color: #ff0000 ;
  background-color : #ff0000 !important;
}
.diagnosticsMDM{
  width: 400px ;
}

.diag-center {
  width:100px;
  margin: 2px -50px;
  top:50%;
  left:50%;
}