.settings-layout {

  button {
    outline: none !important;
  }

  .settings-tabs {

    min-width: 320px;

    &.nav-tabs > li {

      > a {
        border-radius: 5px 5px 0 0 !important;
      }
    }
  }

  .settings-tab {
    padding: 5px;
  }

  .form-groups-header {
    padding: 5px 0;
  }

  .btn-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;

    &:disabled {
      color: #b2b2b2 !important;

      [class*=" icon-"], [class^="icon-"] {
        color: #b2b2b2 !important;
      }
    }
  }

  .subrow {
    margin: 4px 0 10px 0;
  }

  input[type="text"] {
    width: 100%;
  }

  select {
    width: 100%;
  }

  .bootstrap-tagsinput {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #d5d5d5;
    padding: 5px 4px;
    margin: 0;
    line-height: initial;

    &:hover, &:focus {
      border-color: #b5b5b5;
    }

    .attendees-label {
      height: auto;
    }
  }
}

.image-preview-wrapper img {
  width: 100%;
}

.canvas-wrapper canvas {
  width: 120px;
  height: 120px;
  visibility: hidden;
}

.remove-avatar {
  display: inline-block;
  text-align: center;
  left: -5px;
  top: -5px;
  border: 3px solid #BBB;
  border-radius: 32px;
  background-color: #FFF;
  color: red;
  width: 22px;
  height: 22px;
  line-height: 15px;
  position: absolute;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  box-sizing: border-box;
  text-decoration: none;
  i {
    text-decoration: none;
  }
}

.yellow {
  color: #fee188 !important;
}

.blue {
  color: #669fc7;
}

.js-action-wrapper.has-error {
  .help-block {
    font-size: 12px;
    color: #d16e6c;
    margin-bottom: 0;
    display: block;
    margin-top: 5px;
  }
  input, select, textarea {
    border-color: #f09784;
    color: #d68273;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media only screen and (max-width: 480px) {
  .settings-tabs.nav-tabs > li > a {
    min-width: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .settings-layout .settings-label {
    margin-bottom: 10px;
  }
}

label.js-show-title {
  cursor: pointer;

  .icon-settings-help-tip {
    font-size: 15px;
    margin-left: 3px;
  }
}

.setting-row-help-tip {
  color: #478fca;
  font-size: 13px;
  margin: 3px 0 12px 8px;

  .icon-remove {
    margin-left: 5px;
    cursor: pointer;
  }

  &.disabled {
    color: #a4a4a4;
  }
}

label.settings-radio {
  input[type="radio"] {
    margin-right: 5px;
  }
}

label.settings-radio:not(.disabled) {
  color: #555 !important;
  cursor: pointer;
}

label.settings-label {
  color: #555 !important;
}

i.icon-settings-help-tip {
  margin-left: 4px;
  cursor: pointer;
  font-size: 15px;
}

.form-group.has-error input[type="radio"]:focus {
  border: none !important;
  box-shadow: none !important;
}

.settings-header {
  margin-top: 15px;
}

.settings-list .help-block {
  margin-left: 8px;
  font-size: inherit;
}

.settings-error-list {
  li {
    margin-bottom: 10px;
  }
}

.settings-error-header {
  color: #b94a48;
}

.sidebar-secondary {
  display: block;
  position: absolute;
  top: -29px;
  left: 0px;
  margin: 3px;
  max-width: 400px;
  width: e('calc(100% - 40px)');
  border: none;
  background: white;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  .clearfix {
    min-height: 300px;
    max-height: 500%;
  }
  .widget-body {
    border: none;
    background: white;
  }
  .widget-box {
    margin: 0;
    border-bottom: none;
  }
  &.off-screen .clearfix {
    max-height: 350px;
    overflow: hidden;
  }
}

input[type=checkbox].ace.ace-switch.ace-switch-2:disabled + .lbl::before {
  content: "N/A\a0\a0\a0\a0\a0\a0\a0\a0N/A";
}

.any-email-select {
  min-width: 200px;
  max-width: 350px;
  width:90%;
}

.settings-layout-advanced {
  .error-header {
    color: #D16E69;
    font-size: 20px;
  }
}

.about-box{
  border: 1px solid #C5D0DC;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  width: 335px;

  .logo{
    width: 100%;
    margin-top: -10px;
  }

  .product{
    color: rgb(0,133,63);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:106px;
    top:70px;
  }

  .version-info{
    margin-left: 26px;
  }
}