﻿<div class="widget-box sidebar-widget">

    <div class="widget-header">

        <div class="widget-toolbar no-border">

            <ul class="nav nav-tabs" id="recent-tab">

                <li class="active">
                    <a data-toggle="tab" href="#contacts-tab">Contacts</a>
                </li>

                <li>
                    <a data-toggle="tab" href="#groups-tab">Groups</a>
                </li>

                <li>
                    <a data-toggle="tab" href="#requests-tab">
                        Requests
                        <span class="badge">4</span>
                    </a>
                </li>

            </ul>

        </div>

    </div>

    <div class="widget-body">

        <div class="widget-main padding-4 bg-white">

            <div class="tab-content padding-8 overflow-visible">

                <div id="contacts-tab" class="tab-pane active slim-scroll">

                    <div class="clearfix sidebar-list">

                        {{#each this}}

                            {{> "contact/contact-list-item"}}         
                       
                        {{/each}}                       

                    </div>

                </div>

                <div id="groups-tab" class="tab-pane slim-scroll">

                    <div class="clearfix">

                        <div class="itemdiv memberdiv">

                            <div class="user">
                                <img alt="Joe Doe's avatar" src="images/avatars/avatar2.png" />
                            </div>

                            <div class="body pull-left">
                                <div class="name">
                                    Friends
                                </div>
                                <span class="label label-sm arrowed-in arrowed-in-right">30 members</span>
                            </div>

                            <div class="action-buttons pull-right">

                                <a class="light-grey" href="#" title="Call">
                                    <i class="icon-phone bigger-130"></i>
                                </a>
                                &nbsp;
                                <a class="light-grey" href="#" title="Email">
                                    <i class="icon-envelope bigger-125"></i>
                                </a>
                                &nbsp;
                                <a class="light-grey" href="#" title="Message">
                                    <i class="icon-comment bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="itemdiv memberdiv">

                            <div class="user">
                                <img alt="Joe Doe's avatar" src="images/avatars/avatar2.png" />
                            </div>

                            <div class="body pull-left">
                                <div class="name">
                                    Work
                                </div>
                                <span class="label label-sm arrowed-in arrowed-in-right">5 members</span>
                            </div>

                            <div class="action-buttons pull-right">

                                <a class="light-grey" href="#" title="Call">
                                    <i class="icon-phone bigger-130"></i>
                                </a>
                                &nbsp;
                                <a class="light-grey" href="#" title="Email">
                                    <i class="icon-envelope bigger-125"></i>
                                </a>
                                &nbsp;
                                <a class="light-grey" href="#" title="Message">
                                    <i class="icon-comment bigger-125"></i>
                                </a>
                            </div>
                        </div>
                        
                        <div class="itemdiv memberdiv">

                            <div class="user">
                                <img alt="Joe Doe's avatar" src="images/avatars/avatar2.png" />
                            </div>

                            <div class="body pull-left">
                                <div class="name">
                                    Family
                                </div>
                                <span class="label label-sm arrowed-in arrowed-in-right">10 members</span>
                            </div>

                            <div class="action-buttons pull-right">

                                <a class="light-grey" href="#" title="Call">
                                    <i class="icon-phone bigger-130"></i>
                                </a>
                                &nbsp;
                                <a class="light-grey" href="#" title="Email">
                                    <i class="icon-envelope bigger-125"></i>
                                </a>
                                &nbsp;
                                <a class="light-grey" href="#" title="Message">
                                    <i class="icon-comment bigger-125"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="requests-tab" class="tab-pane slim-scroll">

                    <div class="clearfix">

                        <div class="itemdiv memberdiv">

                            <div class="user">
                                <img alt="Bob Doe's avatar" src="images/avatars/user.jpg" />
                            </div>

                            <div class="body">
                                <div class="name">
                                    Andre Wiggins
                                </div>

                                <div class="time">
                                    <i class="icon-time"></i>
                                    <span class="green">20 min ago</span>
                                </div>

                                <div>
                                    <span class="label label-yellow label-sm">pending</span>

                                    <div class="action-buttons pull-right">

                                        <a class="green" href="#">
                                            <i class="icon-check bigger-130"></i>
                                        </a>

                                        <a class="red" href="#">
                                            <i class="icon-remove bigger-130"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="itemdiv memberdiv">

                            <div class="user">
                                <img alt="Joe Doe's avatar" src="images/avatars/avatar2.png" />
                            </div>

                            <div class="body">

                                <div class="name">
                                    Jane Doe
                                </div>

                                <div class="time">
                                    <i class="icon-time"></i>
                                    <span class="green">1 hour ago</span>
                                </div>

                                <div>
                                    <span class="label label-yellow label-sm">pending</span>

                                    <div class="action-buttons pull-right">

                                        <a class="green" href="#">
                                            <i class="icon-check bigger-130"></i>
                                        </a>

                                        <a class="red" href="#">
                                            <i class="icon-remove bigger-130"></i>
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="itemdiv memberdiv">

                            <div class="user">
                                <img alt="Jim Doe's avatar" src="images/avatars/avatar2.png" />
                            </div>

                            <div class="body">

                                <div class="name">
                                    Jim Doe
                                </div>

                                <div class="time">
                                    <i class="icon-time"></i>
                                    <span class="green">2 hours ago</span>
                                </div>

                                <div>
                                    <span class="label label-yellow label-sm">pending</span>

                                    <div class="action-buttons pull-right">

                                        <a class="green" href="#">
                                            <i class="icon-check bigger-130"></i>
                                        </a>

                                        <a class="red" href="#">
                                            <i class="icon-remove bigger-130"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="itemdiv memberdiv">

                            <div class="user">
                                <img alt="Alex Doe's avatar" src="images/avatars/avatar5.png" />
                            </div>

                            <div class="body">
                                <div class="name">
                                    Alex Douglas
                                </div>

                                <div class="time">
                                    <i class="icon-time"></i>
                                    <span class="green">3 hour</span>
                                </div>

                                <div>
                                    <span class="label label-danger label-sm">blocked</span>
                                </div>
                            </div>

                        </div>

                        <div class="itemdiv memberdiv">

                            <div class="user">
                                <img alt="Bob Doe's avatar" src="images/avatars/avatar2.png" />
                            </div>

                            <div class="body">
                                <div class="name">
                                    Bobby Brown
                                </div>

                                <div class="time">
                                    <i class="icon-time"></i>
                                    <span class="green">6 hours ago</span>
                                </div>

                                <div>
                                    <span class="label label-success label-sm arrowed-in">approved</span>
                                </div>
                            </div>

                        </div>

                        <div class="itemdiv memberdiv">

                            <div class="user">
                                <img alt="Susan's avatar" src="images/avatars/avatar3.png" />
                            </div>

                            <div class="body">
                                <div class="name">
                                    Susan Bee
                                </div>

                                <div class="time">
                                    <i class="icon-time"></i>
                                    <span class="green">yesterday</span>
                                </div>

                                <div>
                                    <span class="label label-success label-sm arrowed-in">approved</span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!--<br />-->
                    <!--<div class="center">-->
                    <!--<i class="icon-group icon-2x green"></i>-->
                    <!--&nbsp;-->
                    <!--<a href="#" class="padding-10">-->
                    <!--See all requests &nbsp;-->
                    <!--<i class="icon-arrow-right"></i>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="hr hr-double hr8"></div>-->
                </div>

            </div>
        </div>
    </div>

</div>