<li class="memory-item" data-id="{{id}}">
    <a href="{{mediaUrl}}">
        <img class="memory-image" src="{{thumbnailUrl}}" alt="{{description}}" onerror="this.src = 'images/no_image_.jpg'; ">
    </a>
</li>