<div class="space"></div>
<div class="page-content memory-layout">
    <div class="col-xs-12">

        <div class="row">

            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-yellow btn-upload-memory radius-5 margin-all" title="Upload Memory">
                    <i class="icon-upload bigger-150"></i>
                    <span class="no-text-shadow">Upload Memory</span>
                </button>


                <button class="btn btn-sm btn-yellow btn-edit-memory radius-5 margin-all" title="Edit Memory">
                    <i class="icon-edit bigger-150"></i>
                    <span class="no-text-shadow">Edit</span>
                </button>


                <button class="btn btn-sm btn-yellow btn-delete-memory radius-5 margin-all" title="Delete Memory">
                    <i class="icon-trash bigger-150"></i>
                    <span class="no-text-shadow">Delete</span>
                </button>
            </div>
        </div>

        <div class="row-fluid">
            <ul id="memories-gallery">
                {{#each memories}}
                    {{> "memory/gallery-item"}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="message-edit-container memory-upload-container heavy-box-shadow off-scr on-tr"></div>
</div>

