<div class="widget-box data-container" data-id="{{id}}">

    <div class="widget-header">

        <h5 class="message-detail-action-header">Upload Memory</h5>

        <div class="widget-toolbar">

            <a class="cp data-action green btn-upload-memory" data-action="action:send" title="Upload">
                <i class="icon-ok"></i>
                <span class="hidden-320">Upload</span>
            </a>

            <a class="cp data-action grey btn-back-message-list" data-action="action:cancel" title="Back to Memories">
                <i class="icon-caret-left grey"></i>
                Back
            </a>

        </div>

    </div>

    <div class="widget-body scroll-viewport">
    <span id="memory-upload-scroll">
        <form id="memory-upload-form" class="form-horizontal message-form col-xs-12 data-form">

            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="file-input-image">Media file to upload:</label>

                    <div>
                        <input type="file" id="file-input-image" name="file-input-image" accept='image/*|audio/*|video/*' />
                    </div>
                </div>

                <div class="hr hr-18 dotted"></div>

                <div class="form-group image-preview-container">
                    <img id="image-preview" src="" />
                </div>

                <div class="hr hr-18 dotted"></div>

                <!--

                <div class="form-group">
                    <label class="col-xs-3 control-label no-padding-right" for="tagged">
                        <span class="inline space-24 hidden-480"></span>
                        <span class="edit-label">Tagged:</span>
                    </label>

                    <div class="col-xs-9">
                        <input type="text" name="tagged" id="tagged" value="" placeholder=""/>
                    </div>
                </div>

                -->

                <div class="form-group">
                    <label class="control-label" for="form-field-description">Description:</label>

                    <div>
                        <input maxlength="100" type="text" class="col-xs-12" name="description" id="form-field-description" placeholder="Description" autocomplete="off"/>
                    </div>
                </div>
            </div>
        </form>
    </span>

    </div>

</div>

