<div class="row">

    <div class="col-sm-12">

        <div class="bigger-110">
            <div class="alert alert-danger center">{{errorMessage}}</div>
        </div>

    </div>

</div>
<div class="row">

    <div class="col-sm-6 center">

        <button class="btn-act cp grey" data-action="try-again" title="Try Again">
            <i class="icon-refresh"></i>
            <span style="margin-left: 1em;">Try Again</span>
        </button>

    </div>

    <div class="col-sm-6 center">

        <button class="btn-act cp green" data-action="new-login" title="Login with new credentials">
            <i class="icon-arrow-right"></i>
            <span style="margin-left: 1em;">Login with new credentials</span>
        </button>

    </div>

</div>