<div class="main-content">

    <div class="row">

        <div class="col-sm-10 col-sm-offset-1">

            <div class="login-container">              

                <div class="position-relative">

                    <div id="login-box" class="widget-box visible no-border">

                        <div class="widget-body">

                            <div id="loginForm" class="widget-main">

                                <h4 class="header blue lighter bigger">
                                    <i class="icon-user blue"></i>
                                    Select A Login Account
                                </h4>

                                <div class="space-6"></div>

                                <form id="login-form">

                                    <fieldset>

                                        <div class="form-group">
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <select id="username" name="username" class="form-control">
                                                        <option value="nathan"{{#eq lastLoginSelection "nathan"}} selected{{/eq}}>Nathan</option>
                                                        <option value="lou"{{#eq lastLoginSelection "lou"}} selected{{/eq}}>Lou</option>
                                                        <option value="prasanth"{{#eq lastLoginSelection "prasanth"}} selected{{/eq}}>Prasanth</option>
                                                        <option value="travis"{{#eq lastLoginSelection "travis"}} selected{{/eq}}>Travis</option>
                                                        <option value="brian"{{#eq lastLoginSelection "brian"}} selected{{/eq}}>Brian</option>
                                                        <option value="test1630"{{#eq lastLoginSelection "test1630"}} selected{{/eq}}>test1630</option>
                                                        <option value="test1631"{{#eq lastLoginSelection "test1631"}} selected{{/eq}}>test1631</option>
                                                        <option value="test1632"{{#eq lastLoginSelection "test1632"}} selected{{/eq}}>test1632</option>
                                                        <option value="test1640"{{#eq lastLoginSelection "test1640"}} selected{{/eq}}>test1640</option>
                                                        <option value="test1644"{{#eq lastLoginSelection "test1644"}} selected{{/eq}}>test1644</option>
                                                        <option value="920000"{{#eq lastLoginSelection "920000"}} selected{{/eq}}>920000</option>
                                                        <option value="920001"{{#eq lastLoginSelection "920001"}} selected{{/eq}}>920001</option>
                                                        <option value="test01"{{#eq lastLoginSelection "test01"}} selected{{/eq}}>test01</option>
                                                        <option value="test46"{{#eq lastLoginSelection "test46"}} selected{{/eq}}>test46</option>
                                                        <option value="test07"{{#eq lastLoginSelection "test07"}} selected{{/eq}}>test07</option>
                                                        <option value="intg1225"{{#eq lastLoginSelection "intg1225"}} selected{{/eq}}>intg1225</option>
                                                        <option value="intg1226"{{#eq lastLoginSelection "intg1226"}} selected{{/eq}}>intg1226</option>
                                                        <option value="veuxdu1228"{{#eq lastLoginSelection "veuxdu1228"}} selected{{/eq}}>veuxdu1228</option>
                                                        <option value="veuxdu1229"{{#eq lastLoginSelection "veuxdu1229"}} selected{{/eq}}>veuxdu1229</option>
                                                    </select>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="space"></div>

                                        <div class="clearfix">

                                            <button type="submit" class="width-35 pull-right btn btn-sm btn-success" title="Login">
                                                <!--<i class="icon-key"></i>-->
                                                Login
                                            </button>
                                        </div>

                                        <div class="space-4"></div>
                                    </fieldset>
                                </form>

                            </div>
                         
                        </div>
                        <!-- /widget-body -->
                    </div>
                    <!-- /login-box -->

                    <div id="forgot-box" class="forgot-box widget-box no-border">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header red lighter bigger">
                                    <i class="icon-key"></i>
                                    Retrieve Password
                                </h4>

                                <div class="space-6"></div>
                                <p>
                                    Enter your email and to receive instructions
                                </p>

                                <form>
                                    <fieldset>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="email" class="form-control" placeholder="Email" />
                                                <i class="icon-envelope"></i>
                                            </span>
                                        </label>

                                        <div class="clearfix">
                                            <button type="button" class="width-35 pull-right btn btn-sm btn-danger" title="Send Me">
                                                <i class="icon-lightbulb"></i>
                                                Send Me!
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <!-- /widget-main -->

                            <div class="toolbar center">
                                <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                                    Back to login
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /widget-body -->
                    </div>
                    <!-- /forgot-box -->

                    <div id="signup-box" class="signup-box widget-box no-border">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header green lighter bigger">
                                    <i class="icon-group blue"></i>
                                    New User Registration
                                </h4>

                                <div class="space-6"></div>
                                <p> Enter your details to begin: </p>

                                <form>
                                    <fieldset>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="email" class="form-control" placeholder="Email" />
                                                <i class="icon-envelope"></i>
                                            </span>
                                        </label>

                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" class="form-control" placeholder="Username" />
                                                <i class="icon-user"></i>
                                            </span>
                                        </label>

                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" class="form-control" placeholder="Password" />
                                                <i class="icon-lock"></i>
                                            </span>
                                        </label>

                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" class="form-control" placeholder="Repeat password" />
                                                <i class="icon-retweet"></i>
                                            </span>
                                        </label>

                                        <label class="block">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl">
                                                I accept the
                                                <a href="#">User Agreement</a>
                                            </span>
                                        </label>

                                        <div class="space-24"></div>

                                        <div class="clearfix">
                                            <button type="reset" class="width-30 pull-left btn btn-sm" title="Reset">
                                                <i class="icon-refresh"></i>
                                                Reset
                                            </button>

                                            <button type="button" class="width-65 pull-right btn btn-sm btn-success" title="Register">
                                                Register
                                                <i class="icon-arrow-right icon-on-right"></i>
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                            <div class="toolbar center">
                                <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                                    <i class="icon-arrow-left"></i>
                                    Back to login
                                </a>
                            </div>
                        </div>
                        <!-- /widget-body -->
                    </div>
                    <!-- /signup-box -->
                </div>
                <!-- /position-relative -->
            </div>

        </div>

        <!-- /.col -->

    </div><!-- /.row -->

</div>