﻿<div id="activity-details" class="activity-details heavy-box-shadow off-screen"></div>
<div class="col-xs-12 sliding-container">
	<div class="space"></div>
	<div class="col-xs-12">

        <div class="row">

            <div id="diagnosticsUIActivity" class="btn-group pull-right margin-10-bottom">
                <button class="btn btn-sm btn-yellow btn-new-activity radius-5" title="Create new activity">
                    <i class="icon-calendar bigger-150"></i>
                    <span class="no-text-shadow">New</span>
                </button>
   			</div>
    	</div>
    </div>
    <div class="col-xs-12">
	   <div id="calendar" class="row"></div>
    </div>
</div>