<div class="data-container" data-id="{{activity.id}}">
    <div class="widget-header">
        <h5>Activity Details</h5>
        <div class="widget-toolbar">
            <a href="#" class="data-action blue" data-val="edit">
            <i class="icon-pencil blue"></i>
            Edit
            </a>
            <a href="#" class="data-action grey" data-val="cancel">
            <i class="icon-caret-left grey"></i>
            Back
            </a>
        </div>
    </div>
    <div class="widget-body scroll-viewport">
        <div class="activity-content" id="id-activity-content">
            <div class="activity-header clearfix">
                <div class="pull-left">
                    <span class="blue bigger-125"> {{activity.description}} </span>
                </div>
                <div class="pull-right">
                    <span class="grey" data-livestamp="{{timeAgo}}"></span>
                </div>
            </div>
            <div class="{{priority.uiclass}}">   {{priority.text}} priority</div>
            <div class="space-4"></div>
            <div class="activity-body clearfix">
                <div class="attendee-wrapper">
                    {{#if hasntAttendies}}
                    <div>No attendees.</div>
                    {{/if}}

                    {{#if knowncontacts.length}}
                        <div class="attendies-float">Attendees:</div>
                        <div class="attendies-float">
                    {{/if}}
                    {{#each knowncontacts}}
                    {{#if imageUrl}}
                    <div class="attendee-container">
                        <div class="attendee-image">
                            <img alt="{{name}}" title="{{name}}" src="{{{imageUrl}}}" width="32" onerror="this.src = 'images/no_image_.jpg';"/>
                        </div>
                        {{#if name}}
                        <a href="#" class="attendee-descr" data-id="{{id}}"><span>{{name}}</span><br><span>{{number}}</span></a>
                        {{else}}
                        <a href="#" class="attendee-descr no-click" title="No contact associated">{{number}}</a>
                        {{/if}}

                    </div>
                    {{/if}}
                    {{/each}}
                    {{#if knowncontacts.length}}
                        </div>
                    {{/if}}

                    {{#if unknowncontacts.length}}
                        <div class="attendies-float">Unknown:</div>
                        <div class="attendies-float">
                    {{/if}}
                    {{#each unknowncontacts}}
                    {{#if imageUrl}}
                    <div class="attendee-container">

                        <div class="attendee-image">
                            <img alt="{{name}}" title="{{name}}" src="{{{imageUrl}}}" width="32" onerror="this.src = 'images/no_image_.jpg';"/>
                        </div>
                        {{#if name}}
                        <a href="#" class="attendee-descr" data-id="{{id}}">{{name}}</a>
                        {{else}}
                        <a href="#" class="attendee-descr no-click" title="No contact associated">{{number}}</a>
                        {{/if}}

                    </div>
                    {{/if}}
                    {{/each}}
                    {{#if unknowncontacts.length}}
                        </div>
                    {{/if}}
                </div>
                <div class="space-4"></div>
                <div>
                    {{#if activity.allDay}}
                    <i class="icon-time bigger-110 orange"></i>  <span class="time">full day event</span><br />
                    <i class="icon-time bigger-110 orange"></i>
                    <span class="time">{{activityStartDateFormatted}}</span>
                    {{else}}
                    <i class="icon-time bigger-110 orange"></i>
                    <span class="time">{{activityStartTimeFormatted}}</span>
                    to <br />
                    <i class="icon-time bigger-110 orange"></i>
                    <span class="time">{{activityEndTimeFormatted}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>