<div class="data-container" data-id="{{activity.id}}">
    <form id="activity-form">
        <div class="widget-header">
            {{#eq activity.id null}}
            <h5>New Activity</h5>
            {{else}}
            <h5>Edit Activity</h5>
            {{/eq}}
            <div class="widget-toolbar">
                <button type="submit" value="submit" class="data-action green" data-val="save" title="Save Activity" form="activity-form" >
                    <i class="icon-ok green"></i>
                    Save
                </button>
                <a class="data-action grey" data-val="cancel" title="Cancel and go Back">
                <i class="icon-remove grey"></i>
                Cancel
                </a>
            </div>
        </div>
        <div class="widget-body scroll-viewport">
            <div id="id-activity-content" class="data-form form-horizontal">
                <div class="col-xs-12 items-container">
                    <div class="form-groups-header">
                        Event
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 less-padding">
                            <div class="validation-holder">
                                <div class="validation-placement">
                                    <input type="text" name="activityName" id="activityName" value="{{activity.description}}" placeholder="Enter event ..." class="col-xs-12 form-control" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 items-container">
                    <div class="form-groups-header">
                        Attendees
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 less-padding">
                            <input type="text" name="attendies" id="attendies" value="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 items-container">
                    <div class="form-group row">
                        <div class="col-xs-3 less-padding">
                            <label>priority:</label>
                        </div>
                        <div class="col-xs-9 less-padding">
                            <select name="priority" id="priority" for="priority">
                                {{#each priorities}}
                                <option value="{{value}}" {{selected}}>{{text}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 items-container" id="all-day-checkbox">
                    <div class="form-group row">
                        <div class="col-xs-3 less-padding">
                            <label for="timePickerFrom">all-day:</label>
                        </div>
                        <div class="col-xs-9 less-padding">
                            <label>
                                <input name="allDay" id="allDay" class="ace ace-switch ace-switch-2" {{#if activity.allDay}} checked="checked" {{/if}} type="checkbox" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="all-day-data-container">
                    <div class="col-xs-12 items-container">
                        <div class="form-group row">
                            <div class="col-xs-3 less-padding">
                                <label>date:</label>
                            </div>
                            <div class="col-xs-9 less-padding">

                                <div class="validation-holder">
                                    <div class="input-group col-xs-12 no-padding validation-placement">
                                        <input class="form-control" id="datePicker" name="datePicker" value="{{activityStartDateFormatted}}" type="text" data-date-format="M dd, yyyy" />
                                        <span class="input-group-addon date-picker cp">
                                            <i class="icon-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="not-all-day-data-container">
                    <div class="col-xs-12 items-container">
                        <div class="form-group row">
                            <div class="col-xs-3 less-padding">
                                <label>from:</label>
                            </div>
                            <div class="col-xs-9 less-padding">

                                <div class="validation-holder">
                                    <div class="input-group col-xs-12 no-padding validation-placement">
                                        <input class="form-control" id="datePickerFrom" name="datePickerFrom" value="{{activityStartDateFormatted}}" type="text" data-date-format="M dd, yyyy" />
                                        <span class="input-group-addon date-picker-from cp">
                                            <i class="icon-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>

                               <div class="validation-holder">
                                    <div class="input-group bootstrap-timepicker col-xs-12 margin-10-top no-padding validation-placement">
                                        <input id="timePickerFrom" name="timePickerFrom" value="{{activityStartTimeFormatted}}" type="text" class="form-control upper-case" placeholder="hh:mm AM/PM"/>
                                        <span class="input-group-addon time-picker-from cp">
                                            <i class="icon-time bigger-110"></i>
                                        </span>
                                    </div>
                               </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 items-container">
                        <div class="form-group row">
                            <div class="col-xs-3 less-padding">
                                <label>to:</label>
                            </div>
                            <div class="col-xs-9 less-padding">

                                <div class="validation-holder">
                                    <div class="input-group col-xs-12 no-padding validation-placement">
                                        <input class="form-control" id="datePickerTo" name="datePickerTo" value="{{activityEndDateFormatted}}" type="text"  />
                                        <span class="input-group-addon date-picker-to cp">
                                            <i class="icon-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="validation-holder">
                                    <div class="input-group bootstrap-timepicker col-xs-12 margin-10-top no-padding validation-placement">
                                        <input id="timePickerTo" name="timePickerTo" value="{{activityEndTimeFormatted}}" type="text" class="form-control upper-case" placeholder="hh:mm AM/PM"/>
                                        <span class="input-group-addon time-picker-to cp">
                                            <i class="icon-time bigger-110"></i>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 items-container">
                    <div class="form-group row">
                        <div class="col-xs-3 less-padding">
                            <label>repeat:</label>
                        </div>
                        <div class="col-xs-9 less-padding">
                            <select name="repeat" id="repeat" for="repeat">
                                {{#each recurrence}}
                                <option value="{{value}}" {{selected}}>{{text}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div id="monthly-repeat" class="col-xs-12 items-container hide">
                    <div class="form-group row">
                        <div class="col-xs-3 less-padding">
                            <label>each:</label>
                        </div>
                        {{> "activity/day-of-week-number"}}
                        {{> "activity/day-of-week-name"}}
                        {{> "activity/day-of-month-number"}}
                        <div class="col-xs-2 less-padding" id="monthly-repeat-from-to">
                            <label>of Month</label>
                        </div>
                        <div class="col-xs-2 less-padding hide" id="monthly-repeat-all-day">
                            <input id="datePickerHelper" name="datePickerHelper" value="{{activityStartDateFormatted}}" type="text" class="hide" />
                            <div class="single-addon js-date-picker-helper cp">
                                <i class="icon-calendar bigger-110"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="repeat-container" class="col-xs-12 items-container hide">
                    <div class="form-group row">
                        <div class="col-xs-3 less-padding">
                            <label>end repeat:</label>
                        </div>
                        <div class="col-xs-9 less-padding">
                            <div class="validation-holder">
                                <div class="input-group col-xs-12 no-padding validation-placement">
                                    <input class="form-control date-picker" id="datePickerStop" name="datePickerStop" value="{{activityStopDateFormatted}}" type="text"  />
                                    <span class="input-group-addon date-picker-stop cp">
                                        <i class="icon-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <input type="hidden" value="{{activity.id}}" id="id" name="id" />

                {{#activity.id}}
                <div class="col-xs-12 margin-15-top margin-15-bottom">
                    <button class="btn btn-danger btn-block data-action margin-10-bottom" data-val="remove" title="Delete activity">Delete</button>
                </div>
                {{/activity.id}}
            </div>
        </div>
    </form>
</div>