<div class="col-xs-4 less-padding hide mr-col-fix" id="day-of-week-name">
    <select name="day-of-week-name-repeat" disabled="disabled">
        {{#each options}}
        <option value="{{value}}" {{selected}}>{{text}}</option>
        {{/each}}
    </select>
</div>