<div class="col-xs-3 less-padding hide mr-col-fix" id="day-of-month-number">
    <select name="day-of-month-number-repeat" disabled="disabled">
        {{#each options}}
        <option value="{{value}}" {{selected}}>{{text}}</option>
        {{/each}}
    </select>
</div>