<div class="about-box">
    <img class="logo" src="images/H_3CP_rgb_0412.jpg">
    <div class="product">Communicator</div>
    <div class="version-info">
    Version: 15fea7c
    <br>
    Built: 2014-12-23 10:28 CST
    </div>
</div>