<div class="settings-layout-advanced row data-form settings-tab">

    <div class="col-xs-12">

        <h3 class="grey">911 Addresses</h3>

        <div class="space"></div>

        <div class="row">

            <div class="col-xs-12">

                <span class="bolder">Limitations on 911 Emergency Call. Secure alternative access to 911 services. 911 Emergency services will be routed to your Current 911 Address listed below.</span> You can request a temporary address change below if you will be at a different location. CenturyLink will only approve addresses where 911 services can be provided.

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <span class="blue cp js-action" data-action="disclamer-911">Important details about your 911 Address</span>

            </div>

        </div>

        <div class="space"></div>

        <div class="js-addresses-box">
            {{#each addresses911}}
            {{> "settings/contact-911address-show"}}
            {{else}}
            No 911 Addresses
            {{/each}}

            <div class="row form-group">

                <div class="space"></div>

                <div class="col-sm-12">

                    <button class="btn-act cp js-action green" data-action="add-address" title="Add new Address"
                            data-templ-path="settings/contact-911address-edit">
                        <i class="icon-plus green"></i>
                        Add New Address
                    </button>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <p class="error-header">Warning:</p>

                <p>
                    After submitting your 911 address change request, please refresh your browser to display the current
                    status of your request.
                </p>

                {{#if are911AddressesPending}}

                <p>
                    If you have not received an email stating that your Digital Home Phone 911 address change has been
                    approved, and the last address change has been stuck in a "Pending" state for more than 30 minutes,
                    then we have determined there was an error with this address that prevented it from being validated,
                    but we have conditionally accepted it.
                </p>

                <p>
                    With a conditional acceptance, we have determined the correct 911 Public Safety Answering Point
                    (PSAP) to send your call to and will send 911 calls on the basis of the updated address. However,
                    because we have not yet validated your full street address, when dialing 911, please state your
                    full, valid, current address so that the 911 operator can assist you.
                </p>

                <p>
                    Within 48 hours we will accept your address if we can determine there was a single error (such as a
                    typo) that prevented us from validating it, otherwise we will fail the address and revert back to
                    your last current 911 address.
                </p>

                {{/if}}

            </div>

        </div>

    </div>

</div>