<div class="settings-layout-basic row data-form settings-tab">

<form id="basic-form">

<div class="col-xs-12">

<div class="row hide align-right" data-role="all-action-wrapper">

    <div class="col-xs-12">

        <button type="submit" class="green btn-act js-data-action" data-action="save"
                title="Save all changes"
                form="basic-form">
            <i class="icon-ok green"></i>
            Save
        </button>

        <button type="button" class="grey btn-act js-data-action" data-action="cancel"
                title="Cancel all changes">
            <i class="icon-remove grey"></i>
            Cancel
        </button>

    </div>

</div>

{{#if TelcoCommon.checked}}
<div class="space"></div>

<div class="row form-group">

    <label class="col-sm-4 blue">
        Suspension of Service
    </label>

    <div class="col-sm-5">

        <button class="btn disabled">Suspended</button>

    </div>

</div>
{{/if}}

<div class="row">

    <div class="col-xs-12">

        <h3 class="settings-header">Incoming Calls</h3>

        <p>Select one of the following options to change how incoming calls are handled.</p>

    </div>

</div>

<div class="row form-group" data-role="action-wrapper">

    <div class="col-sm-4">

        <label class="settings-radio">
            <input type="radio" name="IncomingCalls" value="AcceptAllCalls"
            {{#if IncomingCalls.AcceptAllCalls}}checked="checked"{{/if}}
            />Accept All Calls<i class="blue icon icon-question-sign icon-settings-help-tip" data-action="show-title"
                                 title="Select this to receive all incoming calls."></i></label>

    </div>

</div>

<div class="row form-group" data-role="action-wrapper">

    <div class="col-sm-4">

        <label class="settings-radio">
            <input type="radio" name="IncomingCalls" value="ForwardAllCallsToNumber"
            {{#if
            IncomingCalls.ForwardAllCallsToNumber}}checked="checked"{{/if}}
            />Forward All Calls to Number<i class="blue icon icon-question-sign icon-settings-help-tip"
                                            data-action="show-title"
                                            title="Select this to send all incoming calls directly to a telephone number you provide."></i></label>

    </div>

    <div class="col-sm-5">

        {{#if IncomingCalls.ForwardAllCallsToNumber}}
        <input name="ForwardAllCallsNumber" placeholder="(XXX) XXX-XXXX" type="text" value="{{cfu.targetInfo}}"/>
        {{else}}
        <input name="ForwardAllCallsNumber" placeholder="(XXX) XXX-XXXX" type="text" disabled="disabled"
               class="disabled"/>
        {{/if}}
    </div>

</div>

<div class="row form-group" data-role="action-wrapper">

    <div class="col-sm-4">

        {{#if NOTVoicemailEnabled}}
        <label class="settings-radio disabled" disabled="disabled">
            <input type="radio" name="IncomingCalls" value="SendAllCallsToVoicemail" disabled="disabled">
            Send All Calls to Voicemail
            <i class="icon-exclamation-sign icon-settings-help-tip disabled"
               data-action="show-title"
               title="This feature is currently not available. You must upgrade your service to access this feature."></i></label>

        {{else}}
        <label class="settings-radio">
            <input type="radio" name="IncomingCalls" value="SendAllCallsToVoicemail"
            {{#if IncomingCalls.SendAllCallsToVoicemail}} checked="checked" {{/if}}
            />Send All Calls to Voicemail<i class="icon icon-question-sign icon-settings-help-tip blue"
                                            data-action="show-title"
                                            title="Select this to send all incoming calls directly to your voicemail."></i></label>

        {{/if}}

    </div>

</div>

<div class="row form-group" data-role="action-wrapper">

    <div class="col-sm-4">

        <label class="settings-radio">
            <input type="radio" name="IncomingCalls" value="BlockAllCalls"
            {{#if IncomingCalls.BlockAllCalls}} checked="checked" {{/if}}
            />Block All Calls (Do not Disturb)<i class="blue icon icon-question-sign icon-settings-help-tip"
                                                 data-action="show-title"
                                                 title="Select this to reject all incoming calls."></i></label>

    </div>

</div>

<div class="space"></div>

<div class="row form-group" data-role="action-wrapper">

    <label class="col-sm-4 settings-label">
        Block Anonymous Calls
        <i class="icon icon-question-sign icon-settings-help-tip blue" data-action="show-title"
           title="Enable this to reject incoming calls from parties who block the display of their name and number (Caller ID)."></i>
    </label>

    <div class="col-sm-5">

        <input type="checkbox" name="BlockAnonymousCalls"
               class="ace ace-switch ace-switch-2 js-action-change js-checkbox-switch" {{#if ACR.checked}}
        checked="checked" {{/if}}
        />

        <span class="lbl"></span>

    </div>

</div>

<div class="row">

    <div class="col-xs-12">

        <h3 class="settings-header">Email Notifications</h3>

    </div>

</div>

<div class="row form-group" data-role="action-wrapper">

    <label class="col-sm-4 settings-label">
        Send to Email Addresses
        <i class="icon icon-question-sign icon-settings-help-tip blue" data-action="show-title"
           title="These are the email addresses where email and voicemail notifications enabled on this page will be sent to."></i>
    </label>

    <div class="col-sm-5">

        <input name="AnyEmail" type="text" {{#if AnyEmail.existsOnServer}}
        value="{{AnyEmail.SMTPAddressesCSV}}" {{/if}}
        />

    </div>

</div>

<div class="space"></div>

<div class="row form-group" data-role="action-wrapper">

    {{#if NOTVoicemailEnabled}}
    <label class="col-sm-4">
        Voicemail Messages
        <i class="icon-exclamation-sign icon-settings-help-tip disabled" data-action="show-title"
           title="This feature is currently not available. You must upgrade your service to access this feature."></i>
    </label>

    <div class="col-sm-5">

        <input type="checkbox" name="ForwardVoicemailsToAnyEmail"
               class="ace ace-switch ace-switch-2 js-checkbox-switch" disabled="disabled"/>

        <span class="lbl"></span>

    </div>
    {{else}}

    <label class="col-sm-4 settings-label">
        Voicemail Messages
        <i class="icon icon-question-sign icon-settings-help-tip blue" data-action="show-title"
           title="Enable this to receive a copy of new voicemail messages at the email address you provide."></i>
    </label>

    <div class="col-sm-5">

        <input type="checkbox" name="ForwardVoicemailsToAnyEmail"
               class="ace ace-switch ace-switch-2 js-checkbox-switch"
        {{#if Notification.NotificationMappings_IncomingVoiceMail}} checked="checked" {{/if}} />

        <span class="lbl"></span>

    </div>
    {{/if}}

</div>

<div class="space"></div>

<div class="row form-group" data-role="action-wrapper">

    {{#if NOTVoicemailEnabled}}
    <label class="col-sm-4">
        Voicemail Capacity Warnings
        <i class="icon-exclamation-sign icon-settings-help-tip disabled" data-action="show-title"
           title="This feature is currently not available. You must upgrade your service to access this feature."></i>
    </label>

    <div class="col-sm-5">

        <input type="checkbox" name="ForwardVoicemailCapacityWarningsToAnyEmail" disabled="disabled"
               class="ace ace-switch ace-switch-2 js-checkbox-switch"/>

        <span class="lbl"></span>

    </div>
    {{else}}
    <label class="col-sm-4 settings-label">
        Voicemail Capacity Warnings
        <i class="icon icon-question-sign icon-settings-help-tip blue" data-action="show-title"
           title="Enable this to receive email notifications warning you when your voice mailbox is nearing capacity and when it has reached capacity."></i>
    </label>

    <div class="col-sm-5">

        <input type="checkbox" name="ForwardVoicemailCapacityWarningsToAnyEmail"
               class="ace ace-switch ace-switch-2 js-checkbox-switch"
        {{#if Notification.NotificationMappings_VoiceMailboxSpace}} checked="checked" {{/if}} />

        <span class="lbl"></span>

    </div>
    {{/if}}

</div>

<div class="row hide align-right" data-role="all-action-wrapper">

    <div class="col-xs-12">

        <button type="submit" class="green btn-act js-data-action" data-action="save"
                title="Save all changes"
                form="basic-form">
            <i class="icon-ok green"></i>
            Save
        </button>

        <button type="button" class="grey btn-act js-data-action" data-action="cancel"
                title="Cancel all changes">
            <i class="icon-remove grey"></i>
            Cancel
        </button>

    </div>

</div>

</div>

</form>

</div>