<div class="row form-group js-action-wrapper" {{#if ContactId}} data-id="{{ContactId}}" {{/if}}>

<div class="col-xs-12 margin-10-bottom">

    <div class="pull-left margin-10-bottom">

        <i class="icon-map-marker blue"></i>

        <a class="dashed-blue js-911-address"
           href="http://maps.google.com/?q={{ContactAddress.AddressLine1}}, {{ContactAddress.City}}, {{ContactAddress.State}}, {{ContactAddress.ZipCode}}"
           target="_blank">
            <span>{{ContactAddress.AddressLine1}} - </span>
            <span>{{ContactAddress.City}}</span>
            <span>{{ContactAddress.State}}</span>
            <span>{{ContactAddress.ZipCode}}</span>
        </a>

    </div>

    <div class="pull-left">

        {{#if isBase}}
        &nbsp;&nbsp;<span class="label label-lg label-grey radius-10" title="This is your base 911 Address"><i
            class="icon-home white"></i> BASE</span>
        {{/if}}

        {{#eq Status 'CURRENT'}}
        &nbsp;&nbsp;<span class="label label-lg label-primary radius-10" title="This is your current 911 Address"><i
            class="icon-home white"></i> Current</span>
        {{/eq}}

        {{#eq Status 'PENDING'}}
        &nbsp;&nbsp;<span class="label label-lg label-warning radius-10" title="This is your pending 911 Address"><i
            class="icon-home white"></i> Pending</span>
        {{/eq}}

        {{#eq Status 'TEMP'}}
        <button class="btn-act cp js-action green" data-action="edit-address" title="Edit">
            <i class="icon-pencil green"></i>
            Edit
        </button>

        <button class="btn-act cp js-action red" data-action="delete-address" title="Delete">
            <i class="icon-remove red"></i>
            Delete
        </button>
        {{/eq}}

        {{#eq Status 'FAILED'}}
        <button class="btn-act cp js-action green" data-action="edit-address" title="Edit">
            <i class="icon-pencil green"></i>
            Edit
        </button>

        <button class="btn-act cp js-action red" data-action="delete-address" title="Delete">
            <i class="icon-remove red"></i>
            Delete
        </button>
        {{/eq}}

        {{#if canMakeCurrent}}
        <button class="btn-act cp js-action blue" data-action="make-current-911" title="Make Current">
            <i class="icon-home blue"></i>
            Make Current
        </button>
        {{/if}}

    </div>

</div>

{{#eq Status 'FAILED'}}
<div class="col-xs-12 margin-10-bottom">

    <div class="row alert-danger alert">

        <div class="col-xs-12">
            Your last attempt to change the 911 address to "{{ContactAddress.AddressLine1}} - </span>
                    <span>{{ContactAddress.City}}</span>
                    <span>{{ContactAddress.State}}</span>
                    <span>{{ContactAddress.ZipCode}}</span>" has failed.
        </div>

    </div>

</div>
{{/eq}}

<div class="col-xs-12 margin-10-bottom hide" data-role="warning">

    <div class="row alert-danger alert">

        <div class="col-xs-12 col-sm-9 pull-left">
            Are you sure that <span class="bigger-110">"<span>{{ContactAddress.AddressLine1}} - </span>
            <span>{{ContactAddress.City}}</span>
            <span>{{ContactAddress.State}}</span>
            <span>{{ContactAddress.ZipCode}}</span>"</span> is the current address to use for 911 emergency purposes?
        </div>

        <div class="col-xs-12 col-sm-3 text-right pull-right">

            <button class="btn-act cp js-action green" data-action="make-current-911-yes" title="Yes">
                <i class="icon-ok"></i>
                Yes
            </button>

            <button class="btn-act cp js-action grey" data-action="make-current-911-no" title="No">
                <i class="icon-remove"></i>
                No
            </button>

        </div>

    </div>

</div>

</div>