<div class="row form-group js-action-wrapper" {{#if ContactId}} data-id="{{ContactId}}" {{/if}} data-model="Contact911Address">

<form id="address-form{{uniqueId}}">

    <div class="row">

        <div class="col-xs-12">

            <div class="subrow">

                <div class="col-xs-12 less-padding">

                    <input type="text" name="AddressLine1{{uniqueId}}" placeholder="Address" value="{{ContactAddress.AddressLine1}}"
                           class="width-100 AddressLine1_Validation focus-new focus-edit"/>

                </div>

            </div>

            <div class="subrow">

                <div class="col-xs-12 col-sm-4 less-padding margin-10-bottom">

                    <input type="text" name="City{{uniqueId}}" placeholder="City" value="{{ContactAddress.City}}"
                           class="width-100 City_Validation"/>

                </div>

                <div class="col-xs-6 col-sm-4 less-padding">

                    <select name="State{{uniqueId}}">

                        {{#each states}}
                        <option value="{{value}}"
                        {{#if selected}}selected="selected"{{/if}}>{{text}}</option>
                        {{/each}}

                    </select>

                </div>

                <div class="col-xs-6 col-sm-4 less-padding">

                    <input type="text" name="ZipCode{{uniqueId}}" placeholder="Zip" value="{{ContactAddress.ZipCode}}"
                           class="width-100 ZipCode_Validation"/>

                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 text-right">

            <button type="submit" value="submit" form="address-form{{uniqueId}}" class="btn-act cp green" title="Save">
                <i class="icon-ok green"></i> Save
            </button>

            <button type="button" class="btn-act cp js-action grey" data-action="cancel-edit-address" title="Cancel">
                <i class="icon-remove grey"></i>
                Cancel
            </button>

        </div>

    </div>

</form>

</div>