<div class="widget-box data-container" >

    <div class="widget-header">

        <h5 class="text-warning"><i class="icon-warning-sign"></i>WARNING</h5>

        <div class="widget-toolbar">

            <a class="cp data-action green" data-val="gotIt">
                <i class="icon-ok green"></i>
                Got it
            </a>

        </div>

    </div>

    <div class="widget-body spinner-viewport">

        <div class="subrow">

            <div class="col-xs-12 bolder">

                LIMITATIONS ON 911 EMERGENCY CALLS. SECURE ALTERNATIVE ACCESS to 911 SERVICES.

            </div>

        </div>

        <div class="subrow">

            <div class="col-xs-12">

                Emergency services will be routed to your Current 911 Address listed on the 911 Addresses page. If you desire to temporarily move your service and use it at a location DIFFERENT from your current 911 address, you must submit your new 911 address below or contact CenturyLink at 1-844-639-3511 or 1-844-639-3510 and obtain CenturyLink's approval. You will immediately receive a message indicating whether CenturyLink can accept or reject your proposed address. Requests to modify your 911 address may take approximately 15 minutes from when the request was submitted. Requests for a future change of your 911 address may take approximately 15 minutes from the scheduled change date and time. Any 911 calls made prior to a confirmed change of your 911 address will route emergency services to your current address, not your proposed address. CenturyLink will email you at your email address of record when 911 service is available at the new, approved address. NOT ALL ADDRESS CHANGES CAN BE APPROVED. CenturyLink will only approve addresses where 911 services can be provided. Failure to obtain approval is prohibited by the Terms and Conditions of Digital Home Phone and constitutes a misuse of the service. Such misuse will route your 911 calls to the incorrect 911 operator and provide incorrect information to the 911 operator. If you request a permanent change for your 911 address to a location where 911 services are not available, CenturyLink will disconnect your Digital Home Phone service.

            </div>

        </div>

    </div>

</div>