<div class="profile-edit settings-tab" data-id="{{id}}">

    <form id="profile-form">

        <div class="col-xs-12 align-right">

            <button type="submit" value="submit" class="cp data-action green" data-val="save" title="Save Contact"
                    form="profile-form">
                <i class="icon-ok green"></i>
                Save
            </button>

            <button type="button" class="cp data-action grey data-action" data-val="cancel"
                    title="Cancel and go Back">
                <i class="icon-remove grey"></i>
                Cancel
            </button>

        </div>

        <div class="col-xs-5 col-md-3 col-lg-3 less-padding">

            <div class="space-4"></div>

                <span class="profile-picture no-box-shadow no-border">

                    {{#each images}}
                    <img class="img-responsive cp data-action" data-val="picture" alt="Profile picture"
                         src="{{{imageUrl}}}"/>
                    <a class="remove-avatar cp"><i class="icon-remove"></i></a>
                    {{else}}
                    <img class="img-responsive cp data-action" data-val="picture" alt="Profile picture"
                         src="images/no_image_.jpg"/>
                    {{/each}}

                </span>

        </div>

        <div class="col-xs-7 col-md-9 col-lg-9 less-padding data-form">

            <div class="form-groups-header">

                First Name

            </div>

            <div class="form-group row" data-model="Contact">

                <div class="col-xs-12">

                    <input type="text" name="firstName" value="{{firstName}}" class="width-95 focus-edit">

                </div>

            </div>

            <div class="form-groups-header">

                Last Name

            </div>

            <div class="form-group row" data-model="Contact">

                <div class="col-xs-12">

                    <input type="text" name="lastName" value="{{lastName}}" class="width-95 focus-edit">

                </div>

            </div>

        </div>

        <div class="col-xs-12 col-md-9 col-lg-9">
            <div class="form-groups-header">

                Phones

            </div>

            {{#each phoneNumbers}}

            {{> "contact/contact-phone-item"}}

            {{/each}}

            <div class="form-group row">

                <div class="col-xs-12">

                    <a class="cp js-child-data-action green" data-val="new-child-row" title="New Phone"
                       data-templ-path="contact/contact-phone-item">
                        <i class="icon-plus green"></i>
                        New Phone
                    </a>

                </div>

            </div>

            <div class="form-groups-header">

                Emails

            </div>

            {{#each emailAddress}}

            {{> "contact/contact-email-item"}}

            {{/each}}

            <div class="form-group row">

                <div class="col-xs-12">

                    <a class="cp js-child-data-action green" data-val="new-child-row" title="New Email"
                       data-templ-path="contact/contact-email-item">
                        <i class="icon-plus green"></i>
                        New Email
                    </a>

                </div>

            </div>

            <div class="items-container">

                <div class="form-groups-header">

                    Addresses

                </div>

                {{#each addresses}}

                {{> "contact/contact-address-item"}}

                {{/each}}

                <div class="form-group row">

                    <div class="col-xs-12">

                        <a class="cp js-child-data-action green" data-val="new-child-row" title="New Address"
                           data-templ-path="contact/contact-address-item">
                            <i class="icon-plus green"></i>
                            New Address
                        </a>

                    </div>

                </div>

            </div>

            <div class="items-container">

                <div class="form-groups-header">

                    Notes

                </div>

                {{#each notes}}

                {{> "contact/contact-note-item"}}

                {{/each}}

                <div class="form-group row">

                    <div class="col-xs-12">

                        <a class="cp js-child-data-action green" data-val="new-child-row" title="New Address"
                           data-templ-path="contact/contact-note-item">
                            <i class="icon-plus green"></i>
                            New Note
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>