<div class="profile-details settings-tab" data-id="{{id}}">

<div class="col-xs-12 align-right">

    <button class="cp data-action blue" data-val="edit" title="Edit Contact">
        <i class="icon-pencil blue"></i>
        Edit
    </button>

</div>

<div class="col-xs-5 col-md-3 col-lg-3 less-padding">

    <div class="space-4"></div>

            <span class="profile-picture no-box-shadow no-border">

                {{#each images}}
                <img class="img-responsive" alt="Profile picture" src="{{{imageUrl}}}"/>
                {{else}}
                <img class="img-responsive" alt="Profile picture" src="images/no_image_.jpg"/>
                {{/each}}

            </span>

</div>

<div class="col-xs-7 col-md-9 col-lg-9 less-padding">

    <div class="form-group">
        <div class="form-groups-header">First Name</div>

        <div>
            {{#if firstName}}
            <span>{{firstName}}</span>
            {{else}}
            <span class="light-grey">none</span>
            {{/if}}
        </div>

    </div>

    <div class="form-group">
        <div class="form-groups-header">Last Name</div>
        <div>
            {{#if lastName}}
            <span>{{lastName}}</span>
            {{else}}
            <span class="light-grey">none</span>
            {{/if}}
        </div>

    </div>

</div>

<div class="col-xs-12 col-md-9 col-lg-9">
    <div class="form-groups-header">Phones</div>

    {{#each phoneNumbers}}

    <div class="form-group row">

        <div class="col-xs-3">

            <label>{{#toLowerCase}}{{contactType}}{{/toLowerCase}}</label>

        </div>

        <div class="col-xs-9">

            <i class="icon-phone blue"></i>

            <a class="cp user-action-call dashed-blue" data-val="{{value}}">{{value}}</a>

        </div>

    </div>

    {{else}}

    <div class="form-group row">

        <div class="col-xs-12 light-grey">

            none

        </div>

    </div>

    {{/each}}

    <div class="form-groups-header">Emails</div>

    {{#each emailAddress}}

    <div class="form-group row">

        <div class="col-xs-3">

            <label>{{#toLowerCase}}{{contactLocation}}{{/toLowerCase}}</label>

        </div>

        <div class="col-xs-9">

            <i class="icon-envelope blue"></i>

            <a class="cp user-action-email dashed-blue" data-id="{{id}}" data-val="{{value}}" data-recipient="Contact"
               data-artifactType="EMail">{{value}}</a>

        </div>

    </div>

    {{else}}

    <div class="form-group row">

        <div class="col-xs-12 light-grey">

            none

        </div>

    </div>

    {{/each}}

    <div class="form-groups-header">Addresses</div>

    {{#each addresses}}

    <div class="form-group row">

        <div class="col-xs-3">

            <label>{{#toLowerCase}}{{locationType}}{{/toLowerCase}}</label>

        </div>

        <div class="col-xs-9">

            <i class="icon-map-marker blue"></i>

            <a class="dashed-blue" href="http://maps.google.com/?q={{streetLine1}}, {{city}}, {{state}}, {{zip}}"
               target="_blank">
                <span>{{streetLine1}}</span>
                <span>{{city}}</span>
                <span>{{state}}</span>
                <span>{{zip}}</span>
            </a>

        </div>

    </div>

    {{else}}

    <div class="form-group row">

        <div class="col-xs-12 light-grey">

            none

        </div>

    </div>

    {{/each}}

    <div class="form-groups-header">Notes</div>

    {{#each notes}}

    <div class="form-group row">

        <div class="subrow">

            <div class="col-xs-6">

                <label class="{{priority.uiclass}}">&nbsp;{{priority.text}} priority</label>

            </div>

            <div class="col-xs-6">

                <label>{{formattedDate}}</label>

            </div>

        </div>

        <div class="subrow">

            <div class="col-xs-12">

                <label>{{subject}}</label>

            </div>

        </div>

        <div class="subrow">

            <div class="col-xs-12">

                <label>{{description}}</label>

            </div>

        </div>

    </div>

    {{else}}

    <div class="form-group row">

        <div class="col-xs-12 light-grey">

            none

        </div>

    </div>

    {{/each}}
</div>

</div>
