<div class="widget-box data-container" >

    <div class="widget-header">

        {{#if images.length}}
        <h5>Editing Contact Image</h5>
        {{else}}
        <h5>Adding Contact Image</h5>
        {{/if}}

        <div class="widget-toolbar">

            <a class="cp data-action green" data-val="image-ok">
                <i class="icon-ok green"></i>
                OK
            </a>

            <a class="cp data-action grey" data-val="image-cancel">
                <i class="icon-remove grey"></i>
                Cancel
            </a>

        </div>

    </div>

    <div class="widget-body spinner-viewport">

        <div class="col-xs-12">

            <input type="file" id="file-input-image" />

            <label class="crop-checkbox">

                <small class="muted">Crop image:</small>
                <input name="crop" class="ace ace-switch ace-switch-7" type="checkbox">
                <span class="lbl"></span>

            </label>

            <div class="widget-box">

                <div class="widget-header">

                    <h4>Image preview</h4>

                    <div class="widget-toolbar">

                        <i class="icon-chevron-down"></i>

                    </div>

                </div>

                <div class="widget-body">

                    <div class="widget-main">

                        <div class="image-preview-wrapper">

                            <img src="{{ imageData }}"/>

                        </div>

                    </div>

                </div>

            </div>

            <div class="widget-box js-image-crop-view hide">


                <div class="widget-header">

                    <h4>Cropped Image preview</h4>

                    <div class="widget-toolbar">

                        <i class="icon-chevron-down"></i>

                    </div>

                </div>

                <div class="widget-body">

                    <div class="widget-main canvas-wrapper">

                        <div class="col-xs-4 less-padding center">

                            <canvas></canvas>

                        </div>

                        <div class="col-xs-4 less-padding center">

                                    <span class="profile-picture no-box-shadow no-border">

                                        <img class="img-responsive img-rounded" />

                                    </span>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>