<div class="row">
    <div class="col-xs-12 alert alert-danger">
        <h4>The Following Rules are Invalid</h4>
        <ul class="settings-error-list">
            {{#each validationFailures}}
            <li>{{message}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="col-xs-12 alert alert-info">
        <h4>Resolution</h4>
        <ul class="settings-error-list">
            {{#each validationFailures}}
            <li>{{resolution}}</li>
            {{/each}}
        </ul>
    </div>
</div>