<div id="setting-details" class="sidebar-secondary setting-details heavy-box-shadow off-screen" style="z-index: 30;">
    <div class="clearfix"></div>
</div>
<div class="col-xs-12 sliding-container settings-layout">
    <div class="space"></div>
    <div class="tabbable">

        <ul class="settings-tabs nav nav-tabs tab-space-1">

            <li>
                <a href="#/settings/basic/">
                    <div class="center">
                        <i class="icon-cog bigger-110"></i>
                    </div>
                    <span>Settings</span>
                </a>
            </li>

            <li>
                <a href="#/settings/911address/">
                    <div class="center">
                        <i class="icon-home bigger-110"></i>
                    </div>
                    <span>911 Address</span>
                </a>
            </li>

            <li>
                <a href="#/settings/profile/">
                    <div class="center">
                        <i class="icon-user bigger-110"></i>
                    </div>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="#/settings/about/">
                    <div class="center">
                        <i class="icon-info-sign bigger-110"></i>
                    </div>
                    <span>About</span>
                </a>
            </li>

        </ul>

        <div class="tab-content no-border no-padding">

            <div id="settings-list" class="settings-list">

            </div>

        </div>

    </div>
</div>