<div class="space"></div>
{{#if chatterUri}}
    <div class="widget-box" id="chat-box">
        <div class="widget-header">
            <h4 class="lighter smaller">
                <i class="icon-comment grey"></i>
                Conversation
            </h4>
            <i class="icon-remove pull-right bigger-160 cp close-chat"></i>
        </div>

        <div id="chat-container" class="widget-body" data-chatter-uri="{{chatterUri}}">
            <div class="widget-main no-padding">
                <div class="dialogs" id="chatMessages">
                    {{#each chatMessages}}
                        {{> "chat/chat-message-show"}}
                    {{/each}}
                </div>

                <div class="chat-footer">
                    <div id="chatMessageStatus" class="chat-message-status">&nbsp;</div>

                    <form id="chat-form">
                        <div class="form-actions">
                            <div class="input-group">
                                <input id="chat-message-text" placeholder="Type your message here ..." type="text"
                                       class="form-control" name="message"/>
                            <span class="input-group-btn">
                                <button id="chatMessageSend"
                                        class="btn btn-sm btn-info no-radius"
                                        type="button">
                                    <i class="icon-share-alt"></i>
                                    Send
                                </button>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /widget-main -->
        </div>
        <!-- /widget-body -->
    </div><!-- /widget-box -->
{{else}}
    <div class="col-xs-12">
        <div class="noconversation watermark alert alert-success">
            <p id="" class="center">
                <strong>
                    Hi!!
                </strong>
                Start a new chat or select an existing one from contact panel.
                <button class="btn btn-info" id="startChatContacts" type="button">Click Here</button>
            </p>
        </div>
    </div>
{{/if}}