<div class="itemdiv dialogdiv" id="message{{id}}">
    <div class="user">
        <img
            {{#if messageSender}}
                alt="{{messageSender.firstName}} {{messageSender.lastName}} Avatar"
            {{else}}
                {{#if messageSender.isSelf}}
                    alt="My Avatar"
                {{else}}
                    alt="Other Avatar"
                {{/if}}
            {{/if}}
            {{#if chatterAvatar}}
                src="{{chatterAvatar}}"
            {{else}}
                src="images/avatars/avatar2.png"
            {{/if}}
        />
    </div>

    <div class="body">
        <div class="time">
            <i class="icon-time"></i>
            <span class="{{#eq sendStatus "PENDING"}}gray {{/eq}}{{#eq sendStatus "FAILURE"}}red {{/eq}}time-status">{{messageTime}}</span>
        </div>

        <div class="name">
            <a>
                {{#if messageSender}}
                    {{messageSender.firstName}} {{messageSender.lastName}}
                {{else}}
                    {{#if isSelf}}
                        Me
                    {{else}}
                        {{#toPhoneNoFormat}}{{messageSenderPhoneNo}}{{/toPhoneNoFormat}}
                    {{/if}}
                {{/if}}
            </a>
            {{#eq sendStatus "SUCCESS"}}{{else}}
                <span class="label {{#eq sendStatus "FAILURE"}}label-danger {{/eq}}arrowed arrowed-in-right send-status">
                {{#eq sendStatus "FAILURE"}}Delivery Failed{{/eq}}
                    {{#eq sendStatus "PENDING"}}Sending{{/eq}}
                </span>
            {{/eq}}
        </div>
        <div class="text">{{messageText}}</div>
    </div>
</div>
