<div class="list-item filterable" data-id="{{chatterURI}}" data-type="chat-session">

    <div class="image">
        <div class="pres-none">
            <img {{#if receiverInfo.firstName}}alt="{{receiverInfo.firstName}} {{receiverInfo.lastName}} Avatar" {{else}}alt="Other Avatar" {{/if}}
                 {{#if receiverInfo.imageUrl}}src="{{receiverInfo.imageUrl}}" {{else}}src="images/avatars/avatar2.png" {{/if}}
                 class="image-in-list" />
        </div>
    </div>

    <div class="body">
        <div class="chat-session-title">
            <a class="cp name active-conversation-session">
                {{#if receiverInfo.firstName}}
                    {{receiverInfo.firstName}} {{receiverInfo.lastName}}
                {{else}}
                    {{#toPhoneNoFormat}}{{chatterURI}}{{/toPhoneNoFormat}}
                {{/if}}
            </a>
            {{#if isActive}}
                <span class="badge badge-success">Active</span>
            {{/if}}
        </div>
        <span class="label label-sm arrowed-in arrowed-in-right new-message-count-locator">{{newMessageCount}}</span>
    </div>

    <div class="action-buttons pull-right">
        <a class="cp light-grey chat-list-action-close" title="Close" data-id="{{chatterURI}}">
            <i class="icon-remove pull-right bigger-125"></i>
        </a>
    </div>
</div>