﻿<div class="widget-box data-container">

    <form id="new-chat-form">

        <div class="widget-header">

            <h5>New Chat</h5>

            <div class="widget-toolbar">

                <button type="submit" value="submit" class="cp data-action green" data-val="newchat" title="Start Chat" form="new-chat-form">
                    <i class="icon-ok green"></i>
                    Start Chat
                </button>

                <a class="cp data-action grey data-action" data-val="cancel" title="Cancel and go Back">
                    <i class="icon-remove grey"></i>
                    Cancel
                </a>

            </div>

        </div>

        <div class="widget-body scroll-viewport">

            <div class="new-chat-edit-scroll">

                <div class="data-form">

                    <div class="col-xs-4 less-padding center">

                        <span class="profile-picture no-box-shadow no-border">

                            <img id="avatar" class="cp editable img-responsive img-rounded" alt="Unknown avatar" src="images/no_image_.jpg" />

                        </span>

                    </div>

                    <div class="col-xs-8 less-padding">

                        <div class="form-group">

                            <label for="chatterUri" class="control-label">Receiver URI</label>

                            <div>
                                <input type="text" id="chatterUri" name="chatterUri" value="{{chatterUri}}" class="width-95 focus-edit">
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>