<div class="form-group row" {{#if newItem}} {{else}} data-id="{{id}}" {{/if}} data-model="Phone">

    <div class="col-xs-3 less-padding">

        <select for="Phone{{id}}" class="width-100" name="contactType{{id}}">
            {{#each contactTypes}}
            <option value="{{value}}" {{#if selected}}selected="selected"{{/if}}>{{#toLowerCase}}{{value}}{{/toLowerCase}}</option>
            {{/each}}
        </select>

    </div>

    <div class="col-xs-8 less-padding">

        <input type="text" id="Phone{{id}}" name="value{{id}}" value="{{value}}" class="width-95 phoneVal focus-new">

    </div>

    <div class="col-xs-1 less-padding">

        <a class="cp js-child-data-action red" data-val="remove-child-row" title="Delete Phone">

            <i class="icon-remove red"></i>

        </a>

    </div>

</div>