<div class="widget-box data-container" data-id="{{id}}">

    <form id="contact-group-form">

        <div class="widget-header">

            {{#eq id null}}
            <h5>Adding Group Profile</h5>
            {{else}}
            <h5>Editing Group Profile</h5>
            {{/eq}}

            <div class="widget-toolbar">

                <button type="submit" value="submit" class="cp data-action green" data-val="save" title="Save Contact" form="contact-group-form">
                    <i class="icon-ok green"></i>
                    <span class="hidden-400">Save</span>
                </button>

                <a class="cp data-action grey" data-val="cancel">
                    <i class="icon-remove grey"></i>
                    <span class="hidden-340">Cancel</span>
                </a>

            </div>

        </div>

        <div class="widget-body spinner-viewport">

            <div class="data-form" >

                <div class="col-xs-12">

                    <div class="form-group">

                        <label for="name" class="control-label ">Group Name</label>

                        <div>

                            <input type="text" id="name" name="name" value="{{name}}" maxlength="50" class="width-100 contactGroupName focus-edit">

                        </div>

                    </div>

                </div>

                <input type="hidden" value="{{id}}" id="id" name="id" />

            </div>

            <div class="row group-tree">

                <div class="col-xs-12">

                    <div class="widget-box">

                        <div class="widget-header">

                            <label>Choose members</label>

                        </div>

                        <div class="widget-body scroll-viewport">

                            <div class="widget-main padding-8 group-edit-scroll">

                                <div id="chooseMethodsThree" class="tree"></div>

                                {{#id}}
                                <div class="col-xs-12 margin-15-top margin-15-bottom">
                                    <button class="btn btn-danger btn-block data-action" data-val="remove" title="Delete group">Delete</button>
                                </div>
                                {{/id}}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>