﻿<div class="list-item filterable" data-id="{{id}}" data-type="contact">
    <div class="image">
        <div class="pres-none">
            {{#each images}}
                <img alt="{{fullName}} image" src="{{{imageUrl}}}" class="image-in-list"
                     onerror="this.src = 'images/no_image_.jpg';"/>
            {{else}}
                <img alt="{{fullName}} unknown-image" src="images/avatars/avatar2.png" class="image-in-list"
                     onerror="this.src = 'images/no_image_.jpg';"/>
            {{/each}}
        </div>
    </div>

    <div class="body">
        <div class="name">

            <a class="cp contact-data-request-details">{{{fullName}}}</a>

            <br/>

            {{#eq presence "ONLINE"}}
                <span class="smaller-90 green bolder pull-left">online</span>
            {{/eq}}
            {{#eq presence "BUSY"}}
                <span class="smaller-90 red bolder pull-left">busy</span>
            {{/eq}}
            {{#eq presence "OFFLINE"}}
                <span class="smaller-90 grey bolder pull-left">offline</span>
            {{/eq}}

        </div>
    </div>
    <div class="btn-group btn-actions">

        {{#if hasMethodsToConnect}}
            <button class="btn btn-info btn-sm dropdown-toggle js-dropdown-toggle radius-5">
                <span class="icon-caret-down icon-on-right"></span>
            </button>

            <a data-toggle="dropdown" href="#"></a>

            <ul class="dropdown-menu dropdown-info pull-right nav-list">
                {{!-- Display Chat option --}}
                {{#if onlineChatNumbers}}
                    {{#eq onlineChatNumbers.length 1}}
                        {{#each onlineChatNumbers}}
                            <li>
                                <a class="cp js-start-chat" data-val="{{value}}">
                                    <i class="icon-comments-alt bigger-120"></i>
                                    <span class="menu-text">Chat</span>
                                </a>
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            <a class="cp dropdown-toggle">
                                <i class="icon-comments-alt bigger-120"></i>
                                <span class="menu-text">Chat</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                {{#each onlineChatNumbers}}
                                    <li>
                                        <a class="js-start-chat" data-val="{{value}}" title="{{contactTypeText}} {{displayPhoneNumber}}">
                                            {{#eq value.length 10}}
                                                {{contactTypeText}}&nbsp;<span class="pull-right">{{displayPhoneNumber}}</span>
                                            {{else}}
                                                {{displayPhoneNumber}}
                                            {{/eq}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/eq}}
                {{/if}}


                {{!-- Display Email option --}}
                {{#if emailAddress}}
                    {{#eq emailAddress.length 1}}
                        {{#each emailAddress}}
                            <li>
                                <a class="cp user-action-email" data-id="{{id}}" data-val="{{value}}"
                                   data-recipient="Contact"
                                   data-artifactType="EMail" title="{{contactLocation}} ({{value}})">
                                    <i class="icon-envelope-alt"></i>
                                    <span class="menu-text">Email</span>
                                </a>
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            <a class="cp dropdown-toggle">
                                <i class="icon-envelope-alt"></i>
                                <span class="menu-text">Email</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                {{#each emailAddress}}
                                    <li>
                                        <a class="cp user-action-email" data-id="{{id}}" data-val="{{value}}"
                                           data-recipient="Contact"
                                           data-artifactType="EMail" title="{{contactLocation}} ({{value}})">
                                            {{value}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/eq}}
                {{/if}}

                {{#if phoneNumbers}}
                {{!-- Display call action --}}
                    {{#eq phoneNumbers.length 1}}
                        {{#each phoneNumbers}}
                            <li>
                                <a class="cp user-action-call" data-id="{{id}}" data-val="{{displayPhoneNumber}}"
                                   title="{{contactTypeText}} {{displayPhoneNumber}}">
                                    <i class="icon-phone bigger-120"></i>
                                    <span class="menu-text">Call</span>
                                </a>
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            <a class="cp dropdown-toggle">
                                <i class="icon-phone bigger-120"></i>
                                <span class="menu-text">Call</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                {{#each phoneNumbers}}
                                    <li>
                                        <a class="cp user-action-call" data-id="{{id}}"
                                           data-val="{{displayPhoneNumber}}"
                                           title="{{contactTypeText}} {{displayPhoneNumber}}">
                                            {{#eq value.length 10}}
                                                {{contactTypeText}}&nbsp;<span class="pull-right">{{displayPhoneNumber}}</span>
                                            {{else}}
                                                {{displayPhoneNumber}}
                                            {{/eq}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/eq}}

                    {{!-- Display SMS action --}}
                    {{#eq phoneNumbers.length 1}}
                        {{#each phoneNumbers}}
                            <li>
                                <a class="cp js-action-sms" data-id="{{id}}" data-val="{{value}}"
                                   title="{{contactTypeText}} {{displayPhoneNumber}}" data-recipient="Contact"
                                   data-artifactType="SMS">
                                    <i class="icon-mobile-phone bigger-120"></i>
                                    <span class="menu-text">SMS</span>
                                </a>
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            <a class="cp dropdown-toggle">
                                <i class="icon-mobile-phone bigger-120"></i>
                                <span class="menu-text">SMS</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                {{#each phoneNumbers}}
                                    <li>
                                        <a class="cp js-action-sms" data-id="{{id}}" data-val="{{value}}"
                                           title="{{contactTypeText}} {{displayPhoneNumber}}" data-recipient="Contact"
                                           data-artifactType="SMS">
                                            {{#eq value.length 10}}
                                                {{contactTypeText}}&nbsp;<span class="pull-right">{{displayPhoneNumber}}</span>
                                            {{else}}
                                                {{displayPhoneNumber}}
                                            {{/eq}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/eq}}
                {{/if}}

            </ul>
        {{else}}
            <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle radius-5 disabled">
                <span class="icon-caret-down icon-on-right"></span>
            </button>
        {{/if}}

    </div>
</div>