<div class="form-group row" {{#if newItem}} {{else}} data-id="{{id}}" {{/if}} data-model="ContactNote">

    <div class="subrow">

        <div class="col-xs-3 less-padding">

            <select class="width-100" name="priority{{id}}">
                {{#each priorities}}
                <option value="{{value}}" {{#if selected}}selected="selected"{{/if}}>{{#toLowerCase}}{{text}}{{/toLowerCase}}</option>
                {{/each}}
            </select>

        </div>

        <div class="col-xs-8 less-padding">

            <input maxlength="50" type="text" name="subject{{id}}" placeholder="Subject" value="{{subject}}" class="width-95 subjectVal focus-new"/>

        </div>

        <div class="col-xs-1 less-padding">

            <a class="cp js-child-data-action red" data-val="remove-child-row" title="Delete Note">

                <i class="icon-remove red"></i>

            </a>

        </div>

    </div>

    <div class="subrow">

        <div class="col-xs-11 less-padding">

            <input maxlength="225" type="text" name="description{{id}}" placeholder="Description" value="{{description}}" class="width-96-5 descriptionVal"/>

        </div>

    </div>

</div>