﻿<div class="widget-box data-container" data-id="{{id}}">

    <div class="widget-header">

        <h5>Contact</h5>

        <div class="widget-toolbar">

            <a class="cp data-action blue" data-val="edit" title="Edit Contact">
                <i class="icon-pencil blue"></i>
                Edit
            </a>
            <a class="cp data-action blue" data-val="export" title="Export Contact">
                <i class="icon-file-text blue"></i>
                Export
            </a>

            <a class="cp data-action grey" data-val="cancel" title="Back to Contact List">
                <i class="icon-caret-left grey"></i>
                Back
            </a>

        </div>

    </div>

    <div class="widget-body spinner-viewport scroll-viewport">

        <div class="data-form contact-detail-scroll" >

            <div class="col-xs-4 less-padding center">

                <span class="profile-picture no-box-shadow no-border">

                    {{#each images}}
                    <img class="editable img-responsive img-rounded" alt="Alex's Avatar" id="avatar2" src="{{{imageUrl}}}" />
                    {{else}}
                    <img class="editable img-responsive img-rounded" alt="Alex's Avatar" id="avatar2" src="images/no_image_.jpg" />
                    {{/each}}

                </span>

            </div>

            <div class="col-xs-8 less-padding">

                <div class="form-group">

                    <label>First name</label>

                    <div>
                        <span>{{firstName}}</span>
                    </div>

                </div>

                <div class="form-group">

                    <label>Last name</label>

                    <div>
                        <span>{{lastName}}</span>
                    </div>

                </div>

            </div>

            <div class="col-xs-12 less-padding">

                <div class="form-groups-header">Phones</div>

                {{#each phoneNumbers}}

                <div class="form-group row">

                    <div class="col-xs-3">

                        <label>{{#toLowerCase}}{{contactType}}{{/toLowerCase}}</label>

                    </div>

                    <div class="col-xs-9">

                        <i class="icon-phone blue"></i>

                        <a class="cp user-action-call dashed-blue" data-val="{{value}}">{{value}}</a>

                    </div>

                </div>

                {{else}}

                <div class="form-group row">

                    <div class="col-xs-12 light-grey">

                        none

                    </div>

                </div>

                {{/each}}

                <div class="form-groups-header">Emails</div>

                {{#each emailAddress}}

                <div class="form-group row">

                    <div class="col-xs-3">

                        <label>{{#toLowerCase}}{{contactLocation}}{{/toLowerCase}}</label>

                    </div>

                    <div class="col-xs-9">

                        <i class="icon-envelope blue"></i>

                        <a class="cp user-action-email dashed-blue" data-id="{{id}}" data-val="{{value}}" data-recipient="Contact" data-artifactType="EMail" >{{value}}</a>

                    </div>

                </div>

                {{else}}

                <div class="form-group row">

                    <div class="col-xs-12 light-grey">

                        none

                    </div>

                </div>

                {{/each}}

                <div class="form-groups-header">Addresses</div>

                {{#each addresses}}

                <div class="form-group row">

                    <div class="col-xs-3">

                        <label>{{#toLowerCase}}{{locationType}}{{/toLowerCase}}</label>

                    </div>

                    <div class="col-xs-9">

                        <i class="icon-map-marker blue"></i>

                        <a class="dashed-blue" href="http://maps.google.com/?q={{streetLine1}}, {{city}}, {{state}}, {{zip}}" target="_blank">
                            <span>{{streetLine1}}</span>
                            <span>{{city}}</span>
                            <span>{{state}}</span>
                            <span>{{zip}}</span>
                        </a>

                    </div>

                </div>

                {{else}}

                <div class="form-group row">

                    <div class="col-xs-12 light-grey">

                        none

                    </div>

                </div>

                {{/each}}
                <!-- Instant message addresses are disabled, uncomment for enable -->
                <!--<div class="form-groups-header">Instant message addresses</div>

                {{#each imAddresses}}

                <div class="form-group row">

                    <div class="col-xs-3">

                        <label>{{#toLowerCase}}{{contactType}}{{/toLowerCase}}</label>

                    </div>

                    <div class="col-xs-9">

                        <a class="cp" data-val="{{value}}">{{value}}</a>

                    </div>

                </div>

                {{else}}

                <div class="form-group row">

                    <div class="col-xs-12 light-grey">

                        none

                    </div>

                </div>

                {{/each}} -->

                <div class="form-groups-header">Notes</div>

                {{#each notes}}

                <div class="form-group row">

                    <div class="subrow">

                        <div class="col-xs-6">

                            <label class="{{priority.uiclass}}">&nbsp;{{priority.text}} priority</label>

                        </div>

                        <div class="col-xs-6">

                            <label>{{formattedDate}}</label>

                        </div>

                    </div>

                    <div class="subrow">

                        <div class="col-xs-12">

                            <label>{{subject}}</label>

                        </div>

                    </div>

                    <div class="subrow">

                        <div class="col-xs-12">

                            <label>{{description}}</label>

                        </div>

                    </div>

                </div>

                {{else}}

                <div class="form-group row">

                    <div class="col-xs-12 light-grey">

                        none

                    </div>

                </div>

                {{/each}}

            </div>

        </div>

    </div>

</div>