<div class="list-item filterable" data-id="{{id}}" data-type="contact-group">

    <div class="image">
        <div class="pres-none">
            <img alt="Joe Doe's avatar" src="images/avatars/avatar2.png" class="image-in-list" />
        </div>
    </div>

    <div class="body">
        <a class="cp name group-data-request-details">
            {{name}}
        </a>
        <br />
        <span class="label label-sm arrowed-in arrowed-in-right">{{printGroupMembers}}</span>
    </div>

    <div class="action-buttons pull-right">

        <!--<a class="cp light-grey" title="Call">-->
            <!--<i class="icon-phone bigger-130"></i>-->
        <!--</a>-->
        <!--&nbsp;-->
        <a class="cp light-grey user-action-email" title="Email" data-recipient="Group" data-id="{{id}}" data-val="{{value}}" data-artifactType="EMail">
            <i class="icon-envelope bigger-125"></i>
        </a>
        &nbsp;
        <a class="cp light-grey user-action-email" title="Message" data-recipient="Group" data-id="{{id}}" data-val="{{value}}" data-artifactType="SMS">
            <i class="icon-comment bigger-125"></i>
        </a>
    </div>

</div>