<div class="form-group row" {{#if newItem}} {{else}} data-id="{{id}}" {{/if}} data-model="ContactAddress">

    <div class="subrow">

        <div class="col-xs-3 less-padding">

            <select class="width-100" name="locationType{{id}}">

                {{#each locationTypes}}
                <option value="{{value}}" {{#if selected}}selected="selected"{{/if}}>{{#toLowerCase}}{{value}}{{/toLowerCase}}</option>
                {{/each}}

            </select>

        </div>

        <div class="col-xs-8 less-padding">

            <input type="text" name="streetLine1{{id}}" placeholder="Street" value="{{streetLine1}}" class="width-95 streetLine1Val focus-new"/>

        </div>

        <div class="col-xs-1 less-padding">

            <a class="cp js-child-data-action red" data-val="remove-child-row" title="Delete Address">

                <i class="icon-remove red"></i>

            </a>

        </div>

    </div>

    <div class="subrow">

        <div class="col-xs-3 less-padding">

            <input type="text" name="city{{id}}" placeholder="City" value="{{city}}" class="width-95 cityVal"/>

        </div>

        <div class="col-xs-5 less-padding">

            <select name="state{{id}}">

                {{#each states}}
                <option value="{{value}}" {{#if selected}}selected="selected"{{/if}}>{{text}}</option>
                {{/each}}

            </select>

        </div>

        <div class="col-xs-3 less-padding">

            <input type="text" name="zip{{id}}" placeholder="Zip" value="{{zip}}" class="width-85 zipVal"/>

        </div>

    </div>

</div>