<div class="widget-box data-container" data-id="{{id}}">

    <div class="widget-header">

        <h5>Group Profile</h5>

        <div class="widget-toolbar">

            <a class="cp data-action blue" data-val="edit">
                <i class="icon-pencil blue"></i>
                Edit
            </a>

            <a class="cp data-action grey" data-val="cancel" title="Back to Group List">
                <i class="icon-caret-left grey"></i>
                Back
            </a>

        </div>

    </div>

    <div class="widget-body spinner-viewport">

        <div class="data-form">

            <div class="col-xs-12">

                <div class="form-group">

                    <label class="control-label">Group Name</label>

                    <div>
                        <span>{{name}}</span>
                    </div>

                </div>

            </div>

        </div>

        <div class="row group-tree">

            <div class="col-xs-12">

                <div class="widget-box">

                    <div class="widget-header">

                        <h4 class="lighter smaller">Included members</h4>

                    </div>

                    <div class="widget-body scroll-viewport">

                        <div class="widget-main padding-8 group-detail-scroll" >

                            <div id="includedMethodsThree" class="tree"></div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>