﻿<div class="widget-box data-container contact-edit-container" data-id="{{id}}">

<form id="contact-form">

    <div class="widget-header">

        {{#eq id null}}
        <h5>New Contact</h5>
        {{else}}
        <h5>Editing Contact</h5>
        {{/eq}}

        <div class="widget-toolbar">

            <button type="submit" value="submit" class="cp data-action green" data-val="save" title="Save Contact" form="contact-form">
                <i class="icon-ok green"></i>
                Save
            </button>

            <a class="cp data-action blue data-action" data-val="import" title="Import from VCard">
                <i class="icon-plus blue"></i>
                Import
            </a>

            <a class="cp data-action grey data-action" data-val="cancel" title="Cancel and go Back">
                <i class="icon-remove grey"></i>
                Cancel
            </a>

        </div>

    </div>

    <div class="widget-body scroll-viewport spinner-viewport">

        <div class="contact-edit-scroll">

            <div class="data-form">

                <div class="col-xs-4 less-padding center">

                    <span class="profile-picture no-box-shadow no-border">

                        {{#each images}}
                        <img id="avatar" class="cp editable img-responsive img-rounded" alt="{{firstName}}" src="{{{imageUrl}}}" />
                        <a class="remove-avatar cp" ><i class="icon-remove"></i></a>
                        {{else}}
                        <img id="avatar" class="cp editable img-responsive img-rounded" alt="Unknown avatar" src="images/no_image_.jpg" />
                        {{/each}}

                    </span>

                </div>

                <div class="col-xs-8 less-padding">

                    <div class="form-group vcard-upload-group" data-model="Contact" style="display:none">
                            <label for="vcardFileUpload" class="control-label">Upload VCard</label>

                        <div>
                            <input name="vcardFileUpload" id="vcardFileUpload" class="width-95" type="file"/>
                        </div>
                    </div>

                    <div class="form-group" data-model="Contact">

                        <label for="firstName" class="control-label">First Name</label>

                        <div>
                            <input type="text" id="firstName" name="firstName" value="{{firstName}}" class="width-95 focus-edit">
                        </div>

                    </div>

                    <div class="form-group" data-model="Contact">

                        <label for="lastName" class="control-label">Last Name</label>

                        <div>
                            <input type="text" id="lastName" name="lastName" value="{{lastName}}" class="width-95">
                        </div>

                    </div>

                </div>

                <!-- Phones -->

                <div class="col-xs-12 margin-15-top items-container">

                    <div class="form-groups-header">

                        Phones

                    </div>

                    {{#each phoneNumbers}}

                        {{> "contact/contact-phone-item"}}

                    {{/each}}

                    <div class="form-group row">

                        <div class="col-xs-12">

                            <a class="cp js-child-data-action green" id="new-phone" data-val="new-child-row" title="New Phone" data-templ-path="contact/contact-phone-item">
                                <i class="icon-plus green"></i>
                                New Phone
                            </a>

                        </div>

                    </div>

                </div>

                <!-- Emails -->

                <div class="col-xs-12 items-container">

                    <div class="form-groups-header">

                        Emails

                    </div>

                    {{#each emailAddress}}

                        {{> "contact/contact-email-item"}}

                    {{/each}}

                    <div class="form-group row">

                        <div class="col-xs-12">

                            <a class="cp js-child-data-action green" id="new-email" data-val="new-child-row" title="New Email" data-templ-path="contact/contact-email-item">
                                <i class="icon-plus green"></i>
                                New Email
                            </a>

                        </div>

                    </div>

                </div>

                <!-- Addresses -->

                <div class="col-xs-12 items-container">

                    <div class="form-groups-header">

                        Addresses

                    </div>

                    {{#each addresses}}

                        {{> "contact/contact-address-item"}}

                    {{/each}}

                    <div class="form-group row">

                        <div class="col-xs-12">

                            <a class="cp js-child-data-action green" data-val="new-child-row" id="new-address" title="New Address" data-templ-path="contact/contact-address-item">
                                <i class="icon-plus green"></i>
                                New Address
                            </a>

                        </div>

                    </div>

                </div>

                <!-- Instant message addresses -->
                <!-- Instant message addresses are disabled, uncomment for enable -->

<!--                 <div class="col-xs-12 items-container">

                    <div class="form-groups-header">

                        Instant message addresses

                    </div>

                    {{#each imAddresses}}

                        {{> "contact/contact-imaddress-item"}}

                    {{/each}}

                    <div class="form-group row">

                        <div class="col-xs-12">

                            <a class="cp js-child-data-action green" data-val="new-child-row" title="New instant message addresses" data-templ-path="contact/contact-imaddress-item">
                                <i class="icon-plus green"></i>
                                New Instant message addresses
                            </a>

                        </div>

                    </div>

                </div> -->

                <!-- Notes -->

                <div class="col-xs-12 items-container">

                    <div class="form-groups-header">

                        Notes

                    </div>

                    {{#each notes}}

                        {{> "contact/contact-note-item"}}

                    {{/each}}

                    <div class="form-group row">

                        <div class="col-xs-12">

                            <a class="cp js-child-data-action green" data-val="new-child-row" id="new-note" title="New Note" data-templ-path="contact/contact-note-item">
                                <i class="icon-plus green"></i>
                                New Note
                            </a>

                        </div>

                    </div>

                </div>

                <input type="hidden" value="{{id}}" id="id" name="id" />

            </div>

            {{#id}}
            <div class="col-xs-12 margin-15-top margin-15-bottom">
                <button class="btn btn-danger btn-block data-action" data-val="remove" title="Delete contact">Delete</button>
            </div>
            {{/id}}

        </div>

    </div>

</form>

</div>