﻿<div class="widget-box sidebar-widget">

<div class="widget-header">

    <div class="widget-toolbar no-border pull-left">

        <ul class="nav nav-tabs" id="recent-tab">

            <li class="cp active">

                <a data-toggle="tab" data-target="#contacts-tab">

                    <span class="pull-left">Contacts</span>

                    <span id="contact-list-count" class="badge push-left">{{contacts.length}}</span>

                </a>

            </li>

            <li class="cp">

                <a data-toggle="tab" data-target="#groups-tab">

                    <span class="pull-left">Groups</span>

                    <span id="contact-group-list-count" class="badge push-left">{{contactGroups.length}}</span>

                </a>

            </li>

            <li class="cp">

                <a data-toggle="tab" data-target="#chats-tab" id="chat-list-tab">

                    <span class="pull-left">Chats</span>

                    <span id="chat-session-list-count" class="badge push-left">{{chatSessions.length}}</span>

                </a>

            </li>

        </ul>

    </div>

</div>

<div class="widget-body">

    <div class="widget-main">

        <div class="tab-content">

            <div id="contacts-tab" class="tab-pane active">

                <div class="row sidebar-list-header">

                    <div class="col-xs-7">
                        
                        <div class="nav-search minimized">
                            <form class="form-search">
                                    <span class="input-icon">
                                        <input type="text" autocomplete="off" class="input-small nav-search-input filter-list"
                                               placeholder="Search contact ..." data-list-id="contact-list"/>
                                        <i class="icon-search nav-search-icon"></i>
                                    </span>
                            </form>
                        </div>
                    </div>

                    <div class="col-xs-5 align-right">

                        <div class="btn-group">

                            <button class="btn btn-sm btn-yellow new-contact-request radius-5 btn-padded" title="New contact">

                                <i class="icon-user"></i>

                                <span class="no-text-shadow">New</span>

                            </button>

                            <ul class="dropdown-menu dropdown-yellow pull-right align-left">
                                <li>
                                    <a href="#">Action</a>
                                </li>

                                <li>
                                    <a href="#">Another action</a>
                                </li>

                                <li>
                                    <a href="#">Something else here</a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>

                        </div>

                    </div>

                </div>

                <div class="scroll-viewport">

                    <div id="contact-list" class="clearfix sidebar-list contact-list-scroll">

                        {{#each contacts}}
                        {{> "contact/contact-list-item"}}
                        {{/each}}

                    </div>

                </div>

            </div>

            <div id="groups-tab" class="tab-pane">

                <div class="row sidebar-list-header">

                    <div class="col-xs-7">

                        <div class="nav-search minimized">
                            <form class="form-search">
                                    <span class="input-icon">
                                        <input type="text" autocomplete="off" class="input-small nav-search-input filter-list"
                                               placeholder="Search group ..." data-list-id="contact-group-list"/>
                                        <i class="icon-search nav-search-icon"></i>
                                    </span>
                            </form>
                        </div>

                    </div>

                    <div class="col-xs-5 align-right">

                        <div class="btn-group">

                            <button class="btn btn-sm btn-yellow new-contact-group-request radius-5" title="New group">

                                <i class="icon-group"></i>

                                <span class="no-text-shadow">New</span>

                            </button>

                            <ul class="dropdown-menu dropdown-yellow pull-right align-left">
                                <li>
                                    <a href="#">Action</a>
                                </li>

                                <li>
                                    <a href="#">Another action</a>
                                </li>

                                <li>
                                    <a href="#">Something else here</a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>

                        </div>

                    </div>

                </div>

                <div class="scroll-viewport">

                    <div id="contact-group-list" class="clearfix sidebar-list group-list-scroll">

                        {{#each contactGroups}}
                        {{> "contact/contact-group-list-item"}}
                        {{/each}}

                    </div>

                </div>

            </div>

            <div id="chats-tab" class="tab-pane">

                <div class="row sidebar-list-header">

                    <div class="col-xs-7">

                        <div class="nav-search minimized">
                            <form class="form-search">
                                    <span class="input-icon">
                                        <input type="text" autocomplete="off" class="input-small nav-search-input filter-list"
                                               placeholder="Search chat ..." data-list-id="chat-session-list"/>
                                        <i class="icon-search nav-search-icon"></i>
                                    </span>
                            </form>
                        </div>

                    </div>

                    <!--<button class="btn btn-sm btn-yellow new-chat-request radius-5 btn-padded" title="New chat">-->

                        <!--<i class="icon-comment"></i>-->

                        <!--<span class="no-text-shadow">New</span>-->

                    <!--</button>-->
                </div>

                <div class="scroll-viewport">

                    <div id="chat-session-list" class="clearfix sidebar-list chat-list-scroll">

                        {{#each chatSessions}}
                        {{> "chat/conversation-list-item"}}
                        {{/each}}

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

</div>

<div id="sidebar-detail-widget" class="sidebar-detail-widget heavy-box-shadow">

</div>
<div id="sidebar-image-widget" class="sidebar-detail-widget heavy-box-shadow">

</div>
