<div class="col-xs-12 sliding-container message-layout">

    <div class="space"></div>

    <div class="tabbable">

        <div class="message-detail-container heavy-box-shadow off-scr on-tr"></div>

        <div class="message-edit-container heavy-box-shadow off-scr on-tr"></div>

        <ul id="inbox-tabs" class="inbox-tabs nav nav-tabs tab-space-1">

            <li class="pull-right">

                <div id="diagnosticsUIMessage" class="btn-group margin-10-top">

                    <button class="btn btn-sm btn-yellow btn-new-mail radius-5-left-only" title="New Message">

                        <i class="icon-envelope"></i>

                        <span class="no-text-shadow">New</span>

                    </button>

                    <button data-toggle="dropdown" class="btn btn-sm btn-yellow dropdown-toggle radius-5-right-only push-left" title="Filters">

                        <i class="icon-angle-down icon-only"></i>

                    </button>

                    <ul class="dropdown-new-message dropdown-menu dropdown-yellow pull-right align-left">

                        <li class="cp" data-value="SMS">
                            <a>
                                <span class="grey">SMS</span>
                            </a>
                        </li>

                        <li class="cp" data-value="EMail">
                            <a>
                                <span class="grey">Email</span>
                            </a>
                        </li>

                    </ul>

                </div>

            </li>

            <li class="active cp">
                <a data-toggle="tab" data-target="inbox">
                    <div>
                        <i class="icon-inbox bigger-110"></i>
                        <span id="unread-inbox-count" class="badge"></span>
                    </div>
                    <span>Inbox</span>
                </a>
            </li>

            <li class="cp">
                <a data-toggle="tab" data-target="sent">
                    <div>
                        <i class="icon-location-arrow bigger-110"></i>
                        <span id="unread-sent-count" class="badge"></span>
                    </div>
                    <span>Sent</span>
                </a>
            </li>

            <li class="cp">
                <a data-toggle="tab" data-target="trash">
                    <div>
                        <i class="icon-trash bigger-110"></i>
                        <span id="unread-trash-count" class="badge"></span>
                    </div>
                    <span>Trash</span>
                </a>
            </li>

            <li class="cp">
                <a data-toggle="tab" data-target="draft">
                    <div>
                        <i class="icon-edit bigger-110"></i>
                        <span id="unread-draft-count" class="badge"></span>
                    </div>
                    <span>Draft</span>
                </a>
            </li>

        </ul>

        <div class="tab-content no-border no-padding">

            <div class="tab-pane in active spinner-viewport">

                <div id="id-message-list-navbar" class="message-navbar align-center clearfix">
                    <div class="messagebar-item-left">
                        <label class="inline middle">
                            <input type="checkbox" class="ace js-message-toggle-all" id="messages-toggle-all"/>
                            <span class="lbl"></span>
                        </label>

                        &nbsp;
                        <div class="inline position-relative">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <i class="icon-caret-down bigger-125 middle"></i>
                            </a>

                            <ul class="select-filter dropdown-menu dropdown-lighter dropdown-100">
                                <li class="cp" data-select="select:All">
                                    <a>All</a>
                                </li>

                                <li class="cp" data-select="select:None">
                                    <a>None</a>
                                </li>

                                <li class="divider"></li>

                                <li class="cp" data-select="select:Unread">
                                    <a>Unread</a>
                                </li>

                                <li class="cp" data-select="select:Read">
                                    <a>Read</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="messagebar-item-right">
                        <div class="inline position-relative">
                            <a data-toggle="dropdown" class="dropdown-toggle cp">
                                <span class="hidden-480">Filter/Sort &nbsp;</span>
                                <i class="icon-caret-down bigger-125"></i>
                            </a>

                            <ul class="dropdown-filter dropdown-menu dropdown-lighter pull-right dropdown-100">

                                <li class="cp filter-all">
                                    <a>
                                        <label class="inline">
                                            <input type="checkbox" class="ace" data-filter="filter:ALL" />
                                            <span class="lbl"></span>
                                        </label>
                                        <span class="grey">All</span>
                                    </a>
                                </li>

                                <li class="cp">
                                    <a>
                                        <label class="inline">
                                            <input type="checkbox" class="ace" data-filter="filter:SMS" />
                                            <span class="lbl"></span>
                                        </label>
                                        <span class="grey">SMS</span>
                                    </a>
                                </li>

                                <li class="cp">
                                    <a>
                                        <label class="inline">
                                            <input type="checkbox" class="ace" data-filter="filter:MMS" />
                                            <span class="lbl"></span>
                                        </label>
                                        <span class="grey">MMS</span>
                                    </a>
                                </li>

                                <li class="cp">
                                    <a>
                                        <label class="inline">
                                            <input type="checkbox" class="ace" data-filter="filter:VoiceMail" />
                                            <span class="lbl"></span>
                                        </label>
                                        <span class="grey">Voice mail</span>
                                    </a>
                                </li>

                                <li class="cp">
                                    <a>
                                        <label class="inline">
                                            <input type="checkbox" class="ace" data-filter="filter:EMail" />
                                            <span class="lbl"></span>
                                        </label>
                                        <span class="grey">EMail</span>
                                    </a>
                                </li>
                                
                                <li class="divider"></li>

                                <li data-sort="sort:-createDate">
                                    <a class="cp">
                                        <i class="icon-ok green"></i>
                                        Date
                                    </a>
                                </li>

                                <li data-sort="sort:isRead">
                                    <a class="cp">
                                        <i class="icon-ok invisible"></i>
                                        Unread
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li class="cp">
                                    <a>
                                        <label class="inline">
                                            <input type="checkbox" class="ace" data-group="group" />
                                            <span class="lbl"></span>
                                        </label>
                                        <span class="grey">Group messages</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="nav-search minimized">
                        <form class="form-search">
                                <span class="input-icon">
                                    <input type="text" autocomplete="off" class="input-small nav-search-input"
                                           placeholder="Search inbox ..." data-list-id="message-list"/>
                                    <i class="icon-search nav-search-icon"></i>
                                </span>
                        </form>
                        <span id="message-list-count" class="badge">
                        </span>
                    </div>


                    <div class="message-toolbar hide message-toolbar-actions">
                        <div class="inline position-relative align-left">
                            <a href="#" class="btn-message btn btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span>Action</span>

                                <i class="icon-caret-down icon-on-right"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-lighter dropdown-caret dropdown-125 dropdown-action">
                                <li class="cp" data-action="action:reply">
                                    <a>
                                        <i class="icon-mail-reply blue"></i>
                                        &nbsp; Reply
                                    </a>
                                </li>

                                <li class="cp" data-action="action:forward">
                                    <a>
                                        <i class="icon-mail-forward green"></i>
                                        &nbsp; Forward
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li class="cp" data-action="action:markread">
                                    <a>
                                        <i class="icon-eye-open blue"></i>
                                        &nbsp; Mark as read
                                    </a>
                                </li>

                                <li class="cp" data-action="action:markunread">
                                    <a>
                                        <i class="icon-eye-close green"></i>
                                        &nbsp; Mark unread
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li class="cp" data-action="action:restore">
                                    <a>
                                        <i class="icon-external-link green bigger-110"></i>
                                        &nbsp; Restore
                                    </a>
                                </li>

                                <li class="cp" data-action="action:delete">
                                    <a>
                                        {{#eq messageLocation 'trash'}}
                                            <i class="icon-remove red bigger-110"></i>
                                            &nbsp; Permanently delete
                                        {{else}}
                                            <i class="icon-trash red bigger-110"></i>
                                            &nbsp; Delete
                                        {{/eq}}


                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="message-list-container">

                    <div class="message-list-content">

                        <div class="scroll-viewport">

                            <div class="message-list message-list-scroll" id="message-list">


                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
