<div class="message-item {{^isRead}}message-unread{{/isRead}} {{#eq type 'Message'}}js-message-item cp{{/eq}} {{#eq type 'Conversation'}}js-message-wrapper cp{{/eq}} " data-id="{{id}}">

    <label class="inline">
        <input type="checkbox" class="ace {{#eq type 'Conversation'}}js-message-wrapper-checkbox{{/eq}} {{#eq type 'Message'}}js-message-item-checkbox{{/eq}}"/>
        <span class="lbl"></span>
    </label>

    <span class=" " data-id="{{id}}">

        {{#eq type 'Conversation'}}
        <i class="message-list-icon icon-level-down light-green" data-role="wrapper-icon"></i>
        {{/eq}}
        {{#eq artifactType 'SMS'}}
        <i class="message-list-icon icon-comment orange2"></i>
        {{/eq}}
        {{#eq artifactType 'VoiceMail'}}
        <i class="message-list-icon icon-phone purple"></i>
        {{/eq}}
        {{#eq artifactType 'EMail'}}
        <i class="message-list-icon icon-envelope green"></i>
        {{/eq}}
        {{#eq artifactType 'Draft'}}
        <i class="message-list-icon icon-edit grey"></i>
        {{/eq}}

        {{#eq messageLocation 'inbox'}}
        {{#eq type 'Conversation'}}
        <span class="sender">
            <span class="light-grey">( {{messages.length}} )</span>
        </span>
        {{/eq}}

        {{#if sentBy.contact}}
            <span class="sender" title="{{sentBy.contact.firstName}} {{sentBy.contact.lastName}}">
                {{sentBy.contact.firstName}} {{sentBy.contact.lastName}} ( {{sentBy.sentByMethod}} )
            </span>
        {{else}}
            {{#eq sentBy.name sentBy.number}}
                <span class="sender" title="{{sentBy.name}}">( {{sentBy.number}} )</span>
            {{else}}
                <span class="sender" title="{{sentBy.name}} {{sentBy.number}}">{{sentBy.name}} ( {{sentBy.number}} )</span>
            {{/eq}}
        {{/if}}
        {{/eq}}

        {{#eq messageLocation 'sent'}}
        {{#eq type 'Conversation'}}
        <span class="sender">
            <span class="light-grey">( {{messages.length}} )</span>
        </span>
        {{/eq}}

        {{#each sentTo}}
            {{#if this.contact}}
                <span class="sender" title="{{this.contact.firstName}} {{this.contact.lastName}}">
                    {{this.contact.firstName}} {{this.contact.lastName}} ( {{this.sentToMethod}} )
                </span>
            {{else}}
                {{#eq this.name this.number}}
                    <span class="sender" title="{{this.name}}">( {{this.number}} )</span>
                {{else}}
                    <span class="sender" title="{{this.name}} {{this.number}}">{{this.name}} ( {{this.number}} )</span>
                {{/eq}}
            {{/if}}
        {{/each}}
        {{/eq}}

        {{#eq messageLocation 'trash'}}
        {{#eq type 'Conversation'}}
        <span class="sender">
            <span class="light-grey">( {{messages.length}} )</span>
        </span>
        {{/eq}}

        {{#if sentBy.contact}}
            <span class="sender" title="{{sentBy.contact.firstName}} {{sentBy.contact.lastName}}">
                {{sentBy.contact.firstName}} {{sentBy.contact.lastName}} ( {{sentBy.sentByMethod}} )
            </span>
        {{else}}
            {{#eq sentBy.name sentBy.number}}
                <span class="sender" title="{{sentBy.name}}">( {{sentBy.number}} )</span>
            {{else}}
                <span class="sender" title="{{sentBy.name}} {{sentBy.number}}">{{sentBy.name}} ( {{sentBy.number}} )</span>
            {{/eq}}
        {{/if}}
        {{/eq}}
        <span class="time" title="{{formattedMessageDate}}">{{formattedMessageDate}}</span>

        <span class="summary">
            <span class="text">
                {{text}}
            </span>
        </span>

        {{#eq type 'Conversation'}}
        <div class="message-content hide" >
            <!--text-->
        </div>
        {{/eq}}

    </span>

</div>
