<div class="widget-box data-container" data-id="{{id}}">

    <div class="widget-header">

        <h5>Message</h5>

        <div class="widget-toolbar">

            <a class="cp data-action green" data-action="action:reply" title="Reply">
                <i class="icon-reply green"></i>
                <span class="hidden-480">Reply</span>
            </a>

            <a class="cp data-action blue" data-action="action:forward" title="Forward">
                <i class="icon-mail-forward blue"></i>
                <span class="hidden-480">Forward</span>
            </a>

            <a class="cp data-action red" data-action="action:delete" title="Delete">
                <i class="icon-trash red"></i>
                <span class="hidden-480">Delete</span>
            </a>

            <a class="cp data-action grey" data-action="action:back" title="Back">
                <i class="icon-caret-left grey"></i>
                Back
            </a>

        </div>

    </div>

    <div class="widget-body padding-10">

        <div class="message-header clearfix">
            <div class="pull-left message-header-inner">

                {{#eq artifactType 'SMS'}}
                <i class="message-list-icon icon-comment orange2 middle"></i>
                {{/eq}}
                {{#eq artifactType 'VoiceMail'}}
                <i class="message-list-icon icon-phone purple middle"></i>
                {{/eq}}
                {{#eq artifactType 'EMail'}}
                <i class="message-list-icon icon-envelope green"></i>
                {{/eq}}
                {{#eq artifactType 'Draft'}}
                <i class="message-list-icon icon-edit grey"></i>
                {{/eq}}

                <i class="icon-time bigger-110 orange middle"></i>
                <span class="time middle">{{formattedMessageDate}}</span>

                <div class="space-4"></div>
                <span>Sent by:</span>

                {{#if sentBy.contact}}
                    {{#if sentBy.contact.images.length}}
                        <img class="middle image-in-list" alt="{{sentBy.contact.firstName}} {{sentBy.contact.lastName}}" src="{{sentBy.contact.images.0.imageUrl}}" width="32" />
                    {{else}}
                        <img class="middle image-in-list" alt="{{sentBy.contact.firstName}} {{sentBy.contact.lastName}}" src="images/avatars/avatar2.png" width="32" />
                    {{/if}}
                    <span class="sender" title="{{sentBy.contact.firstName}} {{sentBy.contact.lastName}}">
                        {{sentBy.contact.firstName}} {{sentBy.contact.lastName}} ( {{sentBy.sentByMethod}} )
                    </span>
                {{else}}
                    <img class="middle image-in-list" alt="{{sentBy.contact.firstName}} {{sentBy.contact.lastName}}" src="images/avatars/avatar2.png" width="32" />
                    {{#eq sentBy.name sentBy.number}}
                        <span class="sender" title="{{sentBy.name}}">( {{sentBy.number}} )</span>
                    {{else}}
                        <span class="sender" title="{{sentBy.name}} {{sentBy.number}}">{{sentBy.name}} ( {{sentBy.number}} )</span>
                    {{/eq}}
                {{/if}}

                <div class="space-4"></div>
                <span>Sent to:</span>

                {{#each sentTo}}

                    {{#if this.contact}}
                        {{#if this.contact.images.length}}
                            <img class="middle image-in-list" alt="{{this.contact.firstName}} {{this.contact.lastName}}" src="{{this.contact.images.0.imageUrl}}" width="32" />
                        {{else}}
                            <img class="middle image-in-list" alt="{{this.contact.firstName}} {{this.contact.lastName}}" src="images/avatars/avatar2.png" width="32" />
                        {{/if}}
                        <span class="sender" title="{{this.contact.firstName}} {{this.contact.lastName}}">
                            {{this.contact.firstName}} {{this.contact.lastName}} ( {{this.sentToMethod}} )
                        </span>
                    {{else}}
                        <img class="middle image-in-list" alt="{{this.contact.firstName}} {{this.contact.lastName}}" src="images/avatars/avatar2.png" width="32" />
                        {{#eq this.name this.number}}
                            <span class="sender" title="{{this.name}}">( {{this.number}} )</span>
                        {{else}}
                            <span class="sender" title="{{this.name}} {{this.number}}">{{this.name}} ( {{this.number}} )</span>
                        {{/eq}}
                    {{/if}}

                {{/each}}

                <div class="space-4"></div>
                {{#eq artifactType 'SMS'}}
                    <!-- SMS doesn't have subject -->
                {{else}}
                    {{#if subject}}
                        <span>Subject:</span>
                        {{subject}}
                    {{else}}

                    {{/if}}
                {{/eq}}
            </div>
        </div>
        
        <div class="hr hr-double"></div>

        <div class="message-body">

            <div class="scroll-viewport">

                <div class="message-detail message-detail-scroll" >

                    {{#eq artifactType 'VoiceMail'}}
                        <audio id="voicemail-player" poster="images/voicemail_poster.jpg" class="video-js vjs-default-skin vjs-audio" controls src="{{artifactReferences.0.mediaUrl}}"></audio>
                    {{else}}
                        {{text}}
                    {{/eq}}

                </div>

            </div>

        </div>
        
        {{#eq artifactType 'VoiceMail'}}
            <div class="hr hr-double"></div>
            
            <div class="message-attachment clearfix">
                <div class="attachment-title">
                    <span class="blue bolder bigger-110">Attachments</span>
                    &nbsp;
                    <span class="grey">(1 file)</span>
                </div>

                &nbsp;
                <ul class="attachment-list pull-left list-unstyled">
                    <li>
                        <a href="{{artifactReferences.0.mediaUrl}}" class="attached-file inline">
                            <i class="icon-phone bigger-110 middle"></i>
                            <span class="attached-name middle">{{artifactReferences.0.fileName}}</span>
                        </a>

                        <div class="action-buttons inline">
                            <a href="{{artifactReferences.0.mediaUrl}}" download="{{artifactReferences.0.fileName}}">
                                <i class="icon-download-alt bigger-125 blue"></i>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        {{/eq}}

    </div>

</div>

