<div class="widget-box data-container">

    <form id="id-message-form" data-id="{{id}}" data-artifactType="{{artifactType}}">

        <div class="widget-header">

            <h5 class="message-detail-action-header">New Message</h5>

            <div class="widget-toolbar">

                <button type="button" class="cp data-action green" data-action="action:save" title="Save message">
                    <i class="icon-ok green"></i>
                    <span class="hidden-480">Save</span>
                </button>

                <button class="cp data-action green" data-action="action:send" title="Send message" form="id-message-form" type="submit" value="submit">
                    <i class="icon-envelope green"></i>
                    <span class="hidden-480">Send</span>
                </button>

                <a class="cp data-action grey" data-action="action:cancel" title="Back to Message list">
                    <i class="icon-caret-left grey"></i>
                    Back
                </a>

            </div>

        </div>

        <div class="scroll-viewport widget-body">

            <div class="message-detail message-edit-scroll" >

                <div class="form-horizontal message-form col-xs-12 data-form" >
                    <div class="col-xs-12">

                        <div class="form-group js-view-recipients">
                            <label class="control-label" for="recipients">Recipient:</label>

                            <div class="validation-placement">
                                <input type="text" name="recipients" id="recipients" value="" placeholder=""/>
                            </div>
                        </div>

                        <div class="form-group js-view-subject">
                            <label for="form-field-subject">Subject:</label>
                            <div class="input-icon block">
                                <input maxlength="100" type="text" name="subject" id="form-field-subject" class="col-xs-12"
                                       placeholder="Subject" value="{{subject}}"/>
                                <i class="icon-comment-alt"></i>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Type:</label>

                            <div class="">
                                <select for="" class="" name="artifactType">
                                    <option value="SMS">SMS</option>
                                    <option value="EMail">Email</option>
                                    <!--
                                    <option value="MMS">MMS</option>
                                    -->
                                </select>
                            </div>
                        </div>
                        <!--<a href="{{artifactReferences.0.mediaUrl}}">{{artifactReferences.0.mediaUrl}}</a>-->
                        <div class="js-view-URLVoiceMail">
                            <label class="control-label">VoiceMail:</label>
                            <div class="validation-placement">
                                <textarea id="text" name="messageText" placeholder="Enter text" readonly="true" class="message-text">{{artifactReferences.0.mediaUrl}}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Message:</label>

                            <div class="validation-placement">
                                <textarea id="text" name="messageText" placeholder="Enter text" class="message-text">{{text}}</textarea>
                                <!--<div class="wysiwyg-editor"></div>-->
                            </div>
                        </div>
                        <!--
                                            <div class="hr hr-18 dotted js-view-attachments"></div>

                                            <div class="form-group no-margin-bottom js-view-attachments">
                                                <label class="col-xs-3 control-label no-padding-right">
                                                    <span class="inline space-24 hidden-480"></span>
                                                    <span class="edit-label attachment-label">Attachments:</span>
                                                </label>

                                                <div class="col-xs-9">
                                                    <div id="form-attachments">
                                                        <input type="file" name="attachment[]"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="align-right js-view-attachments">
                                                <button id="id-add-attachment" type="button" class="btn btn-sm btn-danger" title="Add Attachment">
                                                    <i class="icon-paper-clip bigger-140"></i>
                                                    Add Attachment
                                                </button>
                                            </div>

                                            <div class="space"></div>-->
                    </div>
                </div>

            </div>

        </div>

    </form>

</div>