<div class="bigger-110">
    <p></p>
    <div class="alert {{#eq errorType 'danger'}}alert-danger{{/eq}} {{#eq errorType 'warning'}}alert-warning{{/eq}} {{#eq errorType 'info'}}alert-info{{/eq}}">
        Sorry, your browser doesn't support calling functions!
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
    </div>
    <p>
        Please, follow next steps to install multimedia plugin:
    </p>
    <p>
        1)  <a href="#" class="download-plugin">Download</a> plugin.
    </p>
    <p>
        2) Install it.
    </p>
    <p>
        3) Restart you browser.
    </p>
</div>