<div class="list-item call-item" data-id="{{getId}}">
    <div class="image">

        {{#if contact}}

        {{#each contact.images}}
        <img alt=" image" src="{{imageUrl}}">
        {{/each}}

        {{#unless contact.images}}
        <img alt=" image" src="images/avatars/avatar-blank.png">
        {{/unless}}

        {{/if}}

        {{#unless contact}}
        <img alt=" image " src="images/avatars/avatar-blank.png">
        {{/unless}}

        {{#if onHold}}
        <i class="icon-pause"></i>
        {{/if}}

    </div>
    <div class="body">
        {{#if contact}}
        {{contact.firstName}} {{contact.lastName}}
        {{else}}
        {{callerNumber}}
        {{/if}}
    </div>
</div>



