<div id="call-widget-active" class="phone-widget-screen active-call-content app-hidden">
    <div class="clearfix">
        <div class="row no-margin">
            <div id="active-call-container" class="col-xs-9 center no-padding">

                <div class="active-call-list-header">Currently Speaking</div>

                <div class="list-item">

                    <div class="image">
                        <img id="avatar" class="contact-image" alt=" image" src="images/avatars/avatar-blank.png"/>
                    </div>

                    <div class="body">
                        <span id="name" class="contact-name"></span>
                    </div>

                    <div class="body">
                        <span class="call-duration">00:00</span>
                    </div>
                </div>
            </div>

            <div id="current-calls-container" class="col-xs-3 center no-padding">
                <div class="active-call-list-header">In Call</div>
                <div id="active-call-list" class="active-call-list scroll-viewport"></div>
            </div>
        </div>
    </div>
</div>

<div class="phone-widget-screen no-active-calls">
    <div class="clearfix">
        <div class="row middle center title">
            No active calls
        </div>
    </div>
</div>
