<div class="phone-widget-screen phone-dialpad-content">

    <div class="row phone-input-row">

        <input class="dialpad-input" type="text"/>

        <div class="action-buttons">

            <a href="#" class="grey btn-keypad-backspace" title="Backspace">
                <i class="icon-caret-left bigger-130"></i>
            </a>

            <a href="#" class="grey btn-keypad-clear" title="Clear">
                <i class="icon-remove bigger-130"></i>
            </a>

        </div>

    </div>

    <div class="btn-toolbar phone-dialpad-row">

        <div class="btn-group">

            <button class="btn btn-light js-keypad" title="1" data-dial-tone-frq="697.0, 1209.0">1</button>
            <button class="btn btn-light js-keypad" title="2" data-dial-tone-frq="697.0, 1336.0">2</button>
            <button class="btn btn-light js-keypad" title="3" data-dial-tone-frq="697.0, 1477.0">3</button>

        </div>

    </div>

    <div class="btn-toolbar phone-dialpad-row">

        <div class="btn-group">

            <button class="btn btn-light js-keypad" title="4" data-dial-tone-frq="770.0, 1209.0">4</button>
            <button class="btn btn-light js-keypad" title="5" data-dial-tone-frq="770.0, 1336.0">5</button>
            <button class="btn btn-light js-keypad" title="6" data-dial-tone-frq="770.0, 1477.0">6</button>

        </div>

    </div>

    <div class="btn-toolbar phone-dialpad-row">

        <div class="btn-group">

            <button class="btn btn-light js-keypad" title="7" data-dial-tone-frq="852.0, 1209.0">7</button>
            <button class="btn btn-light js-keypad" title="8" data-dial-tone-frq="852.0, 1336.0">8</button>
            <button class="btn btn-light js-keypad" title="9" data-dial-tone-frq="852.0, 1477.0">9</button>

        </div>

    </div>

    <div class="btn-toolbar phone-dialpad-row">

        <div class="btn-group">

            <button class="btn btn-light js-keypad" title="*" data-dial-tone-frq="941.0, 1209.0">*</button>
            <button class="btn btn-light js-keypad" title="0" data-dial-tone-frq="941.0, 1336.0">0</button>
            <button class="btn btn-light js-keypad" title="#" data-dial-tone-frq="941.0, 1477.0">#</button>

        </div>

    </div>

    <div class="btn-toolbar calling-button-row">

        <button class="btn btn-small btn-warning btn-call btn-voice-call" title="Call">Call</button>

        <button class="btn btn-small btn-warning btn-call btn-video-call pull-right" title="Video Call"><i class="icon-facetime-video"></i>Video Call</button>

    </div>

</div>