<div id="call-widget-incoming" class="full-screen-content-dark center app-hidden">

    <br />
    <br />
    Incoming call from...
    <br />
    <br />

    <span class="profile-picture">
        <img id="avatar" alt="" src="images/avatars/avatar-blank.png" />
    </span>

    <div class="clear"></div>

    <br />

    <span id="name"></span>

    <br />
    <br />

    <div class="btn-toolbar">

        <button class="btn btn-small btn-success btn-icon-only btn-answer-call" title="Answer">
            <i class="icon-phone bigger-150"></i>

        </button>

        <button class="btn btn-small btn-success btn-icon-only btn-video-answer-call" title="Video Answer">
            <i class="icon-facetime-video bigger-150"></i>
        </button>

        <button class="btn btn-small btn-danger btn-decline-call" title="Decline call">
            Decline
        </button>

    </div>

</div>