<div id="call-widget-outgoing" class="full-screen-content-dark center app-hidden">

    <br />
    <br />
    Outgoing call to...
    <br />
    <br />

    <span class="profile-picture">
        <img id="avatar" alt="" src="images/avatars/avatar-blank.png" />
    </span>

    <div class="clear"></div>

    <br />

    <span id="name"></span>

    <br />
    <br />

    <div class="btn-toolbar">

        <button class="btn btn-small btn-danger btn-stop-call" title="Cancel">
            Cancel
        </button>

    </div>
</div>