<div id="call-widget-error" class="full-screen-content-dark center app-hidden">

    <br />
    <br />
    <span id="errorDesc"></span>
    <br />
    <br />

    <div class="btn-toolbar">

        <button class="btn btn-small btn-danger btn-close-error" title="Close">
            Ok Got It
        </button>

    </div>

</div>