﻿<div class="call-content">
<span class="block no-border-bottom">

    <span class="btn-toolbar inline middle no-margin">

        <span data-toggle="buttons" class="btn-group no-margin call-widget-btn-group">

            <!--<label class="btn btn-sm btn-yellow phone-tab-btn">-->

                <!--Favorites-->
                <!--<input type="radio" value="favorites">-->

            <!--</label>-->

            <!--<label class="btn btn-sm btn-yellow phone-tab-btn">-->

                <!--History-->
                <!--<input type="radio" value="history">-->

            <!--</label>-->

            <label class="btn btn-sm btn-yellow phone-tab-btn js-dialpad-tab active">

                <i class="icon-th"></i>

                Dialpad
                <input type="radio" value="dialpad">

            </label>

            <label class="btn btn-sm btn-yellow phone-tab-btn js-call-tab">

                <i class="icon-phone"></i>

                Call
                <input type="radio" value="call">

            </label>

            <label class="btn btn-sm btn-yellow phone-tab-btn">

                <i class="icon-gear"></i>

                Settings
                <input type="radio" value="settings">

            </label>
        </span>
    </span>
</span>

<div class="widget-body no-border-important phone-tab app-hidden" id="phone-tab-favorites">

    <div class="phone-widget-lists-tab">
        <i class="icon-star orange icon-2x pull-left"></i>
        <span class="grey pull-left">Favorites</span>
    </div>

</div>

<div class="widget-body no-border-important phone-tab app-hidden padding-18" id="phone-tab-history">

    <div class="phone-widget-lists-tab">
        <i class="icon-list orange icon-2x pull-left"></i>
        <span class="grey pull-left">History</span>
    </div>

</div>

<div class="app-plugin-hidden" id="phone-tab-plugin">

    <div id="plug-in-container"></div>

</div>

<div class="widget-body no-border-important phone-tab" id="phone-tab-dialpad">

    {{> "call/call-dialpad"}}

</div>

<div class="widget-body no-border-important phone-tab app-hidden" id="phone-tab-call">

    {{> "call/call-active"}}

</div>

<div class="widget-body no-border-important phone-tab app-hidden padding-18" id="phone-tab-settings">
    {{> "call/call-settings"}}
</div>

{{> "call/call-outgoing"}}
{{> "call/call-incoming"}}
{{> "call/call-error"}}
</div>
