﻿<div class="phone-widget-lists-tab">

    <i class="icon-gear orange icon-2x pull-left"></i>
    <span class="grey pull-left">Settings</span>

    <div class="clearfix"></div>
    <div class="space"></div>

    <div class="row">
        <div class="col-xs-5 no-padding">
            <label class="control-label no-padding-right" for="call-audio-source">Audio source:</label>
        </div>

        <div class="col-xs-7 align-right no-padding left">
            <select class="col-xs-11" id="call-audio-source"></select>
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="col-xs-5 no-padding">
            <label class="control-label no-padding-right" for="call-video-source">Video source:</label>
        </div>

        <div class="col-xs-7 align-right no-padding">
            <select class="col-xs-11" id="call-video-source"></select>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
</div>